﻿
<div id="seccionGaleriasEmbajador">
    <div class="container-fluid">
        <h2 class="title custom text-center">GALERÍAS</h2>
        <ul id="portfolio-filter" class="text-center mb40">
            <li class="active"><a href="#" data-filter="*">TODAS</a></li>
            <li v-for="galeria in galerias">
                <a href="#" v-bind:data-filter="'._' + galeria.IdGaleria">{{galeria.TituloGaleria}}</a>
            </li>
        </ul>
        <div class="portfolio-row">
            <div id="portfolio-item-container" class="gallery_simple max-col-4" data-layoutmode="fitRows">
                <div v-for="(imagen, index) in modelImagesGaleria" v-bind:class="'_' + imagen.IdGaleria" class="portfolio-item">
                    <figure>
                        <div class="h200" v-bind:style="{ 'background': 'url(' + '@Href("~/Images/galerias/_")'+imagen.IdGaleria+'/'+'_'+imagen.IdImagen+(imagen.TipoImagen==null?'.png':imagen.TipoImagen) + ') no-repeat center center', 'background-size':  'cover' }"></div>
                        <figcaption>
                            <a v-bind:href="'@Href("~/Images/galerias/_")'+imagen.IdGaleria+'/'+'_'+imagen.IdImagen+(imagen.TipoImagen==null?'.png':imagen.TipoImagen)" class="zoom-btn" v-bind:title="imagen.CuerpoTexto"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-meta">
                        <h3 class="portfolio-title">{{imagen.Titulo}}</h3>
                    </div><!-- End .portfolio-meta -->
                </div><!-- End .portfolio-item -->
            </div><!-- End .portfolio-item-container -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</div>
