﻿
@{
    ViewBag.Title = "Actividades";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}


@section breadcrumb
{
    <li><a>Embajador</a></li>
    <li><a href="~/Nosotros/quienes-somos">@ViewBag.Title</a></li>
}

@section menu_left_bg
{
    <div class="widget">
        <h3 class="widget-title">EMBAJADOR</h3>
        <ul class="fa-ul">
            <li><a href="~/Embajador/perfil"><i class="fa-li fa fa-chain"></i>PERFIL</a></li>
            <li><a href="~/Embajador/nuestro-embajador"><i class="fa-li fa fa-chain"></i>NUESTRO EMBAJADOR</a></li>
            <li><a href="~/Embajador/actividades"><i class="fa-li fa fa-chain"></i>ACTIVIDADES</a></li>
        </ul>
    </div><!-- end .widget -->
}

<article class="entry">
    <h2 class="title">ACTIVIDADES</h2>
    <p class="text-justify">Cualquier experiencia y convivencia que aterricemos junto con el Embajador y Red Social Azteca y  que esté llena de sensibilidad, valores y humanidad.</p>
    <p class="text-justify"> Entre otras actividades, nuestro Embajador junto con Red Social Azteca, sumamos esfuerzos para ofrecer convivios a 20 beneficiados directos, de distintas instituciones sociales registradas en nuestra Red Social Azteca.</p>
    <p class="text-justify">La idea es compartir un momento de alegría, con música, bailes, una buena plática y diferentes dinámicas con nuestros invitados, que pueden ser niños, abuelitos, personas con alguna discapacidad o de algún grupo vulnerable, para cambiarles la rutina y refrescar su espíritu para seguir en pie.</p>
</article>

@Html.Partial("_GaleriasE")
@section scripts
{
    @Scripts.Render("~/bundles/scriptsvue-embajador")
    @Scripts.Render("~/bundles/lightbox")
}