﻿
@{
    ViewBag.Title = "Nuestro Embajador";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}


@section breadcrumb
{
    <li><a>Embajador</a></li>
    <li><a href="~/Nosotros/quienes-somos">@ViewBag.Title</a></li>
}

@section menu_left_bg
{
    <div class="widget">
        <h3 class="widget-title">EMBAJADOR</h3>
        <ul class="fa-ul">
            <li><a href="~/Embajador/perfil"><i class="fa-li fa fa-chain"></i>PERFIL</a></li>
            <li><a href="~/Embajador/nuestro-embajador"><i class="fa-li fa fa-chain"></i>NUESTRO EMBAJADOR</a></li>
            <li><a href="~/Embajador/actividades"><i class="fa-li fa fa-chain"></i>ACTIVIDADES</a></li>
        </ul>
    </div><!-- end .widget -->
}

<article class="entry">
    <h2 class="title">CONOCE A NUESTRO EMBAJADOR</h2>
    <div class="row">
        <div class="col-md-4 col-xs-12 col-lg-4 col-sm-12">
            <div class="entry-media">
                <figure>
                    <a href="https://placeholder.com"><img src="https://via.placeholder.com/400x400"></a>
                </figure>
                <div class="entry-meta">
                    <span><i class="fa fa-paperclip"></i> Omar Fierro</span>
                </div><!-- End .entry-media -->
            </div><!-- End .enty-media -->
        </div>
        <div class="col-md-8 col-xs-12 col-lg-8 col-sm-12">
            <div class="entry-content">
                <p class="text-justify">Omar Fierro además de actor, director, productor y conductor, se identifica por ser una persona comprometida con la gente que lo rodea.</p>
                <p class="text-justify">Su filosofía es compartir lo que esté a su alcance, con las personas que se encuentran a su alrededor, aún sin conocerlos, como muestra de gratitud con la vida, por verlos sonreír y por contagiar la fe en el prójimo de forma completamente desinteresada.</p>
                <p class="text-justify">Por esto aceptó ser el Embajador de Red Social Azteca y acompañarnos en todas las tareas que llevamos a cabo. Ha participado en los Encuentros de Organizaciones Civiles 2016 y 2017, Donativo Hormiga 2017, colectas para reunir donativo para nuestras diferentes campañas, clasificación de donativo en bodega, entregas en distintas organizaciones, desayunos y convivios para beneficiados directos, posadas navideñas, reuniones de planeación y cualquier propuesta que le presentemos, ¡él está con nosotros con el mejor ánimo y la mejor sonrisa!</p>
            </div><!-- End .entry-content -->
        </div>
    </div>
</article>

