﻿
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}


@section breadcrumb
{
    <li><a>Embajador</a></li>
    <li><a href="~/Nosotros/quienes-somos">@ViewBag.Title</a></li>
}

@section menu_left_bg
{
    <div class="widget">
        <h3 class="widget-title">EMBAJADOR</h3>
        <ul class="fa-ul">
            <li><a href="~/Embajador/perfil"><i class="fa-li fa fa-chain"></i>PERFIL</a></li>
            <li><a href="~/Embajador/nuestro-embajador"><i class="fa-li fa fa-chain"></i>NUESTRO EMBAJADOR</a></li>
            <li><a href="~/Embajador/actividades"><i class="fa-li fa fa-chain"></i>ACTIVIDADES</a></li>
        </ul>
    </div><!-- end .widget -->
}

<article class="entry">
    <h2 class="title">¿QUÉ BUSCAMOS EN UN EMBAJADOR DE RED SOCIAL AZTECA</h2>
    <div class="row">
        <div class="col-md-4 col-xs-12 col-lg-4 col-sm-12">
            <div class="entry-media">
                <figure>
                    <a href="https://placeholder.com"><img src="https://via.placeholder.com/400x400"></a>
                </figure>
                <div class="entry-meta">
                    <span><i class="fa fa-paperclip"></i> Embajador</span>
                </div><!-- End .entry-media -->
            </div><!-- End .enty-media -->
        </div>
        <div class="col-md-8 col-xs-12 col-lg-8 col-sm-12">


            <div class="entry-content">
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check"></i>Comprometido con la sociedad vulnerable de nuestro país.</li>
                    <li><i class="fa-li fa fa-check"></i>Espíritu de generosidad y solidaridad.v</li>
                    <li><i class="fa-li fa fa-check"></i>Capacidad de convivencia y trabajo en equipo.</li>
                    <li><i class="fa-li fa fa-check"></i>Gran sentido de responsabilidad.</li>
                    <li><i class="fa-li fa fa-check"></i>Iniciativa para proponer acciones en pro de los demás.</li>
                    <li><i class="fa-li fa fa-check"></i>Alegre y entusiasta.</li>
                    <li><i class="fa-li fa fa-check"></i>Experiencia en servicio a su comunidad cercana.</li>
                    <li><i class="fa-li fa fa-check"></i>Ser un excelente vocero y promotor de nuestras acciones.</li>
                    <li><i class="fa-li fa fa-check"></i>Conocimiento de los programas y campañas de Fundación Azteca y Red Social Azteca.</li>
                </ul>

                <div class="mb10"></div><!-- margen -->

            </div><!-- End .entry-content -->

        </div>
    </div>
</article>

