﻿@using System.Web.Hosting

@{
    ViewBag.Title = "Galerias";
    ViewBag.TutiloPage = "GALERÍAS";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 class="title custom">GALERÍAS</h3>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 ">
        <label class="input-desc">Año</label>
        <select class="form-control">
            <option selected>2018</option>
            <option>2017</option>
            <option>2016</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 ">
        <label class="input-desc">Mes</label>
        <select class="form-control">
            <option selected>Enero</option>
            <option>Febreo</option>
            <option>Marzo</option>
            <option>Abril</option>
            <option>Mayo</option>
            <option>Junio</option>
            <option>Julio</option>
            <option>Agosto</option>
            <option>Septiembre</option>
            <option>Octubre</option>
            <option>Noviembre</option>
            <option>Diciembre</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 ">
        <label class="input-desc">Categorías</label>
        <select class="form-control">
            <option selected>TODAS</option>
            <option>Voluntariado</option>
            <option>Embajador</option>
            <option>Acciones / Eventos</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 ">
        <label class="input-desc">Campañas</label>
        <select class="form-control">
            <option selected>TODAS</option>
            <option>Campaña 1</option>
            <option>Campaña 2</option>
            <option>Campaña 3</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 ">
        <label class="input-desc">Estado</label>
        <select class="form-control">
            <option selected>TODOS</option>
            <option>PENDIENTE</option>
            <option>VIGENTE</option>
            <option>VENCIDA</option>
            <option>CANCELADA</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 pt25">
        <button class="btn btn-warning" data-toggle="modal" data-target="#nueva_galeria" v-on:click="limpiarFormRegistro(); isEdit=false;">NUEVA GALERÍA</button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <v-grid v-on:seleccion="seleccion"
                v-bind:columns="['Titulo','Url', 'Fecha Inicio', 'Fecha Vencimiento','Estado','Accion']"
                v-bind:url="'@Href("~/Galeria/AllGalerias")'"
                v-bind:paglist="[50,100,200,500]" @* Si no se define este paginado entonces obtiene todas*@
                v-bind:titulo="'Galerías'"
                v-bind:showheader="false"
                v-bind:show-filter="false">
            <template slot="tools" scope="e" style="display:none;">
                <div>
                    <a id="reload" class="btn" v-on:click="e.refresh()">
                        <i class="fa fa-refresh fa-lg"></i>
                    </a>
                </div>
            </template>
            <template scope="d">
                <tr>
                    <td>{{d.item.item.TituloGaleria | upperCase}}</td>
                    <td><a v-bind:href="d.item.item.UrlVideo" target="_blank"><i class="fa fa-link"></i></a></td>
                    <td>{{convertirFecha(d.item.item.FechaRegistro)}}</td>
                    <td>{{convertirFecha(d.item.item.FechaCaduca)}}</td>
                    <td><span class="label" v-bind:class="{'label-success': d.item.item.Activo, 'label-danger': !d.item.item.Activo }">{{d.item.item.Activo == true ? 'Activo' : 'Inactivo' | upperCase }}</span> </td>
                    @*<td><a href="#" data-img="../../images/home/index/galeria/venta02.jpg" data-imagen="popover" data-placement="top" data-original-title="" title=""><i class="fa fa-picture-o"></i></a></td>*@
                    <td>
                        @*<a v-for="acc in acciones" class="icon-btn" v-on:click="seleccion(acc.accion,d.item)"><i v-bind:class="acc.clase" aria-hidden="true"></i></a>*@
                        <button class="btn btn-blue btn-sm" data-toggle="modal" data-target="#nueva_galeria" v-on:click="detalle(d.item.item.IdGaleria);"> EDITAR</button>
                        <a class="btn btn-warning btn-sm" data-toggle="modal" data-target="#admin_galeria" v-on:click="detalle(d.item.item.IdGaleria); cargarImages(d.item.item.IdGaleria);">DETALLE</a>
                    </td>
                </tr>
            </template>
        </v-grid>
    </div><!-- End .col-sm-12 -->
</div><!-- End .row -->




<div class="modal fade " id="nueva_galeria" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title">{{ isEdit ? "EDITAR" : "NUEVA" }} GALERÍA</h3>
            </div><!-- End .modal-header -->
            <div class="modal-body">
                <div v-bind:class="{hidden: (errorRegistroGaleria.length == 0)} " class="alert alert-danger alert-dismissable">
                    <span class="alert-icon"><i class="fa fa-warning"></i></span>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Error!</strong> <span v-html="errorRegistroGaleria"></span>
                </div><!-- End .alert-danger -->

                <div class="form-group">
                    <label for="titulo" class="input-desc">Titulo</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo" required v-model="modelGaleria.TituloGaleria">
                </div><!-- End .from-group -->
                <div class="form-group">
                    <label for="descripcion" class="input-desc">Descripción</label>
                    <input type="text" rows="6" class="form-control" id="descripcion" name="descripcion" placeholder="Descripcion" required v-model="modelGaleria.Descripcion">
                </div><!-- End .from-group -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12">
                            <label for="optCategoria" class="input-desc">Categoría</label>
                            <select id="optCategoria" class="form-control" v-model="modelGaleria.IdCategoria">
                                <option value="1">Embajador</option>
                                <option value="2">Acciones</option>
                                <option value="3">Voluntariado</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12">
                            <label for="optCampanias" class="input-desc">Campaña</label>
                            <select id="optCampanias" class="form-control" v-model="modelGaleria.IdCausa">
                                <option value="1">Donativo Hormiga</option>
                                <option value="2">Regreso a Clases</option>
                                <option value="3">Voluntariado</option>
                            </select>
                        </div>
                    </div>
                </div><!-- End .from-group -->
                <div class="form-group">
                    <label for="txturl" class="input-desc">Url</label>
                    <div class="input-group">
                        <span class="input-group-addon">http://</span>
                        <input id="txturl" type="text" class="form-control" placeholder="" v-model="modelGaleria.UrlVideo">
                    </div>
                </div><!-- End .from-group -->

                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="fecha_inicio" class="input-desc">Fecha Inicio</label>
                            <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" placeholder="Fecha Inicio" v-model="modelGaleria.FechaRegistro">
                        </div><!-- End .from-group -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="fecha_fin" class="input-desc">Fecha Fin</label>
                            <input type="date" class="form-control" id="fecha_fin" name="fecha_fin" placeholder="Fecha Fin" v-model="modelGaleria.FechaCaduca">
                        </div><!-- End .from-group -->
                    </div>
                </div>
            </div><!-- End .modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" v-on:click="eliminar(modelGaleria.IdGaleria);" v-if="isEdit">INACTIVAR</button>
                <button type="button" class="btn btn-success" v-on:click="registrar_actualizar" v-if="formGaleriaCompleta">GUARDAR</button>
                <button type="button" class="btn btn-black" data-dismiss="modal">CERRAR</button>
            </div><!-- End .modal-footer -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->

</div><!-- End .New/Edit Galeria -->

<div class="modal fade " id="admin_galeria" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">

    <div class="modal-dialog modal-lg" style="width: 80% !important">
        <div class="modal-content">
            <div v-if="isLoading" class="frame-loading"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title">{{ modelGaleria.TituloGaleria | upperCase }}</h3>
            </div><!-- End .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div v-bind:class="{hidden: (errorUploadImageGaleria.length == 0)} " class="alert alert-danger alert-dismissable">
                        <span class="alert-icon"><i class="fa fa-warning"></i></span>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>Error!</strong> <span v-html="errorUploadImageGaleria"></span>
                    </div><!-- End .alert-danger -->

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  bg-lightgray border pb15" style="height: 500px">
                        <label class="input-desc">Titulo</label>
                        <input class="form-control" type="text" placeholder="Titulo de la imagen" v-model="modelImageGaleria.Titulo">
                        <label class="input-desc">Descripción de la imagen</label>
                        <textarea class="form-control" placeholder="Descripción" rows="2" style="height: 50px; min-height: 50px" v-model="modelImageGaleria.CuerpoTexto"></textarea>
                        <label class="input-desc">Imagen / Foto</label>  <span class="badge pull-right">720x400</span>

                        <input type="file"
                               id="filegaleria"
                               class="filepond"
                               name="filepond"
                               data-max-file-size="3MB"
                               data-max-files="1">

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" checked="checked">
                                Activa
                            </label>
                        </div><!-- end .checkbox -->
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                        <div class="portfolio-row">
                            <div id="portfolio-item-container" class="gallery_simple max-col-3">

                                <template id="item-image" functional>
                                    <div class="portfolio-item" v-for="img in modelImagesGaleria">
                                        <figure>
                                            @*<img v-bind:src="(typeof(img.BinaryImage) != undefined ? 'data:' + img.TipoImagen + ';base64,'+img.BinaryImagen :'https://via.placeholder.com/150x80')"  alt="Portfolio Name">*@
                                            <img v-bind:src="'@Href("~/Images/galerias/_")'+img.IdGaleria+'/_'+img.IdImagen+img.TipoImagen" alt="Portfolio Name">
                                            <figcaption>
                                                <a v-bind:href="'@Href("~/Images/galerias/_")'+img.IdGaleria+'/_'+img.IdImagen+img.TipoImagen" class="zoom-btn"><i class="fa fa-search"></i></a>
                                                <span class="eliminar-btn" v-on:click="eliminar_image(img.IdImagen, img.TipoImagen)"><i class="fa fa-remove"></i></span>
                                            </figcaption>
                                        </figure>
                                        <div class="portfolio-meta">
                                            <h3 class="portfolio-title"><b>{{img.Titulo}}</b><span class="label label-success pull-right">activa</span></h3>
                                            <div class="portfolio-tags">
                                                <span>{{fechaActual}}</span> <!-- OJO! Aqui se debe interpolar la fecha de registro de la imagen-->
                                            </div><!-- End .portfolio-tags -->
                                        </div><!-- End .portfolio-meta -->
                                    </div><!-- End .portfolio-item -->
                                </template>
                            </div><!-- End .portfolio-item-container -->
                        </div><!-- End .row -->
                        <nav class="pagination-container">
                            <label>Mostrando: {{this.pagination.initpage }}- {{ (this.pagination.initpage + this.pagination.pagesize + 1) > this.pagination.totalpages ? this.pagination.totalpages: this.pagination.initpage + this.pagination.pagesize -1 }} de {{this.pagination.totalpages}}</label>
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Before" v-on:click="mostrarPagina('B');">
                                        <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                                    </a>
                                </li>
                                <li class="active"><a href="#">{{this.pagination.actual_page}}</a></li>
                                <li>
                                    <a href="#" aria-label="Next" v-on:click="mostrarPagina('N');">
                                        <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div><!-- End .col-sm-8 -->




                </div>
            </div><!-- End .modal-body -->
            <div class="modal-footer">
                <button class="btn btn-success pull-left" v-on:click="uploadImageGaleria" v-if="formImageUploadCompleta">GUARDAR IMAGEN</button>
                @*<button type="button" class="btn btn-success" v-on:click="registrar_actualizar" v-if="formGaleriaCompleta">GUARDAR</button>*@
                <button type="button" class="btn btn-black" data-dismiss="modal">CERRAR</button>
            </div><!-- End .modal-footer -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->

</div><!-- End .New/Edit Galeria -->


@section scripts
{
    @Scripts.Render("~/bundles/lightbox")

    <script type="text/javascript">
        $(function () {


            //Filter para convertir a MAYUSCULAS
            Vue.filter('upperCase', function (value) {
                if (!value) return '';
                value = value.toString();
                return value.toUpperCase();
            });

                var vgaleria = new Vue({
                    el: '#container',
                    data:
                    {
                        urlsGaleria: {
                            create: '@Href("~/Galeria/Create")',
                            getItem: '@Href("~/Galeria/Details")',
                            update: '@Href("~/Galeria/Update")',
                            delete: '@Href("~/Galeria/Delete")',
                        },
                        urlsImageGaleria: {
                            getAll: '@Href("~/Galeria/AllImages")',
                            create: '@Href("~/Galeria/CreateImage")',
                            uploadImage: '@Href("~/Galeria/UploadImage")',
                            getItem: '@Href("~/Galeria/DetailsImage")',
                            update: '@Href("~/Galeria/UpdateImage")',
                            delete: '@Href("~/Galeria/DeleteImage")'
                        },
                        filePondObj: null,
                        errorRegistroGaleria: "",
                        errorUploadImageGaleria: "",
                        isLoading: false,
                        isEdit: false,
                        modelGaleria: {
                            Activo: true,
                            IdGaleria: "0",
                            TituloGaleria: "",
                            Descripcion: "",
                            FechaCaduca: "",
                            FechaRegistro: "",
                            IdCategoria: "0",
                            IdCausa: "0",
                            UrlVideo: ""
                        },
                        modelImageGaleria: {
                            CuerpoTexto: "",
                            FechaRegistro: "",
                            IdGaleria: 0,
                            IdImagen: 0,
                            IdUsuarioRegistra: "",
                            TipoImagen: "",
                            Titulo: ""
                        },
                        modelImagesGaleria: [],
                        fechaActual: (new Date().getMonth() + 1) +
                            '/' +
                            new Date().getDate() +
                            '/' +
                            new Date().getFullYear(),
                        pagination: {
                            pagesize: 6,
                            actual_page: 1,
                            totalpages: 0,
                            initpage: 1
                        }
                    },
                    created: function () {
                        setTimeout(function (self) {
                            self.filePondObj =
                                FilePond.create(($('#filegaleria')[0]), {
                                    allowMultiple: false,
                                    labelIdle: 'Arrastra y suelta una foto o <span class="filepond--label-action">Selecciona...</span>',
                                    imagePreviewHeight: 200,
                                    imageCropAspectRatio: '1:1',
                                    imageResizeTargetWidtmodh: 100,
                                    imageResizeTargetHeight: 100,
                                    imagePreviewTransparencyIndicator: '#1BA160',
                                    instantUpload: false,
                                    //acceptedFileTypes: ['image/jpeg'],
                                    stylePanelLayout: 'compact',
                                    styleLoadIndicatorPosition: 'center bottom',
                                    styleProgressIndicatorPosition: 'right bottom',
                                    styleButtonRemoveItemPosition: 'left bottom',
                                    styleButtonProcessItemPosition: 'right bottom'
                                });
                        }, 1000, this);
                    },
                    computed: {
                        formGaleriaCompleta: function () {
                            return (
                                this.modelGaleria.FechaRegistro !== ""
                                    && this.modelGaleria.FechaCaduca !== ""
                                    && this.modelGaleria.TituloGaleria !== ""
                                    && this.modelGaleria.Descripcion !== ""
                            );
                        },
                        formImageUploadCompleta: function () {
                            return (
                                //   (this.filePondObj !== null && parseInt(this.filePondObj.getFiles().length) === 1) &&
                                this.modelImageGaleria.Titulo !== ""
                            );
                        }
                    },
                    watch: {

                    },
                    methods: {
                        seleccion: function (e) {
                            console.log(e);
                        },
                        limpiarFormRegistro: function () {
                            this.errorRegistroGaleria = "";
                            this.modelGaleria.Activo = true;
                            this.modelGaleria.TituloGaleria = "";
                            this.modelGaleria.Descripcion = "";
                            this.modelGaleria.IdCategoria = "0";
                            this.modelGaleria.IdCausa = "0";
                            this.modelGaleria.FechaRegistro = "";
                            this.modelGaleria.FechaCaduca = "";
                            this.modelGaleria.UrlVideo = "";
                        },
                        limpiarUploadImage: function () {
                            this.errorUploadImageGaleria = "";
                            this.modelImageGaleria.Titulo = "";
                            this.modelImageGaleria.CuerpoTexto = "";
                            //this.limpiarFormRegistro();
                            if (this.filePondObj != null) {
                                this.filePondObj.removeFiles();
                            }
                        },
                        closeModal: function () {
                            $(".modal").modal("hide");
                        },
                        registrar_actualizar: function () {
                            this.isLoading = true;
                            var url = this.isEdit ? this.urlsGaleria.update : this.urlsGaleria.create;
                            this.$http.post(url, this.modelGaleria).then(function (response) {
                                var resp = response.body.model;
                                if (!resp.success) {
                                    if (resp.mensaje != null && resp.mensaje.length > 0) {
                                        this.errorRegistroGaleria = resp.mensaje;
                                    }
                                }
                                else {
                                    if (resp.alerta != null && resp.alerta.length > 0) {
                                        $.notify(resp.alerta, "success");
                                    }
                                    this.limpiarFormRegistro();
                                    this.closeModal();
                                }
                                this.isLoading = false;
                            }, function (err) {
                                this.errorRegistroGaleria = err.status + ' : ' + err.statusText;
                                this.isLoading = false;
                            });
                        },
                        detalle: function (id) {
                            this.isLoading = true;

                            this.$http.get(this.urlsGaleria.getItem, { params: { id: id } }).then(function (response) {
                            var resp = response.body.model;
                            if (resp !== 'undefined') {

                                this.modelGaleria = {
                                    Activo: resp.Activo,
                                    IdGaleria: resp.IdGaleria,
                                    TituloGaleria: resp.TituloGaleria,
                                    Descripcion: resp.Descripcion,
                                    FechaCaduca: this.obtenerFechaFormatHTML(resp.FechaCaduca),
                                    FechaRegistro: this.obtenerFechaFormatHTML(resp.FechaRegistro),
                                    IdCategoria: resp.IdCategoria,
                                    IdCausa: resp.IdCausa,
                                    UrlVideo: resp.UrlVideo
                                }
                                this.modelImageGaleria.IdGaleria = resp.IdGaleria;
                                this.isEdit = true;
                                }
                                this.isLoading = false;
                        }, function (err) {
                            this.errorRegistroGaleria = err.status + ' : ' + err.statusText;
                            this.isLoading = false;
                        });
                    },
                    eliminar: function () {

                        if (confirm("¿Esta seguro de INACTIVAR la galería completa?")) {

                            this.isLoading = true;
                            this.$http.post(this.urlsGaleria.delete, this.modelGaleria).then(function (response) {
                                var resp = response.body.model;
                                if (!resp.success) {
                                    if (resp.mensaje != null && resp.mensaje.length > 0) {
                                        this.errorRegistroGaleria = resp.mensaje;
                                    }
                                }
                                else {
                                    if (resp.alerta != null && resp.alerta.length > 0) {
                                        $.notify(resp.alerta, "success");
                                    }
                                    this.limpiarFormRegistro();

                                    this.closeModal();
                                }
                                this.isLoading = false;
                            }, function (err) {
                                this.errorRegistroGaleria = err.status + ' : ' + err.statusText;
                                this.isLoading = false;
                            });
                        }
                    },

                    cargarImages: function (id) {
                        this.isLoading = true;

                        this.$http.post(this.urlsImageGaleria.getAll, { modelo: { Todas: false, Fetch: this.pagination.pagesize, Pagina: this.pagination.initpage , Filtro: { IdGaleria:id } } }).then(function (response) {
                            var resp = response.body.model;
                            if (typeof resp !== 'undefined') {
                                this.modelImagesGaleria = resp.Lista;
                                this.pagination.totalpages = resp.Total;
                                var i = 0;
                                for (i = 0; i < resp.Lista.length; i++) {
                                    this.cargarImagenGaleria(resp.Lista[i].IdImagen);
                                }
                            }
                            this.enlazarsimpleLightbox();
                            this.isLoading = false;
                        }, function (err) {
                            this.errorRegistroGaleria = err.status + ' : ' + err.statusText;
                            this.isLoading = false;
                        });
                    },
                    cargarImagenGaleria: function (id) {
                        this.isLoading = true;

                        this.$http.get(this.urlsImageGaleria.getItem, { params: { 'id': id } }).then(function (response) {
                            var resp = response.body.model;
                            if (typeof resp !== 'undefined') {
                                //No se usa find por incopatibilidad en servidores
                                //if (resp.BinaryImagen.length == 0) {
                                //    resp.BinaryImagen = 'undefined';
                                //}
                                var i = 0;
                                for (i = 0; i < this.modelImagesGaleria.length; i++) {
                                    if (this.modelImagesGaleria[i].IdImagen == id) {
                                        console.log(typeof (this.modelImagesGaleria[i].BinaryImagen));
                                        if (this.modelImagesGaleria[i].BinaryImagen == undefined || this.modelImagesGaleria[i].BinaryImagen.length == 0) {
                                            this.modelImagesGaleria[i].BinaryImagen = resp.BinaryImagen;
                                        }
                                    }
                                }

                            }
                            this.isLoading = false;
                        }, function (err) {
                            this.errorRegistroGaleria = err.status + ' : ' + err.statusText;
                            this.isLoading = false;
                        });
                    },
                    uploadImageGaleria: function () {
                        this.isLoading = true;

                        this.$http.post(this.urlsImageGaleria.create, this.modelImageGaleria).then(function (response) {
                            var resp = response.body.model;
                            if (resp.success === false) {
                                if (resp.mensaje != null && resp.mensaje.length > 0) {
                                    this.errorRegistroAviso = resp.mensaje;
                                    this.isLoading = false;
                                }
                            }
                            else {
                                if (this.filePondObj.getFiles().length === 1) {//Solo si existe imagen
                                    this.filePondObj.setOptions({
                                        server: {
                                            url: this.urlsImageGaleria.uploadImage + "?id=" + resp.result.IdImagen
                                        }
                                    });
                                    var self = this;
                                    this.filePondObj.processFiles().then(function (file) {
                                        // se ha cargado el archivo

                                        if (resp.alerta != null && resp.alerta.length > 0) {
                                            $.notify(resp.alerta, "success");
                                        }
                                        self.isLoading = false;
                                        //self.closeModal();
                                        self.cargarImages(self.modelImageGaleria.IdGaleria);
                                        self.limpiarUploadImage();
                                    }, function (a) {//error en carga
                                        self.errorRegistroAviso = a.error.code + ' : ' + a.error.body +
                                            "<br />La imagen no se pudo registrar. Intenta cargar la imagen de nuevo desde edición.";
                                        self.isLoading = false;
                                    });
                                }
                                else {
                                    if (resp.alerta != null && resp.alerta.length > 0) {
                                        $.notify(resp.alerta, "success");
                                    }
                                    this.limpiarUploadImage();
                                    this.isLoading = false;
                                    this.closeModal();
                                }
                            }
                        }, function (err) {
                            this.errorRegistroAviso = err.status + ' : ' + err.statusText;
                            this.isLoading = false;
                        });
                    },
                    eliminar_image: function (id, tipoimg) {

                        if (confirm("¿Esta seguro de eliminar la imagen de la galería?")) {

                            this.isLoading = true;
                            this.$http.post(this.urlsImageGaleria.delete, { imgGaleria: { 'IdImagen': id, 'IdGaleria': this.modelGaleria.IdGaleria, 'TipoImagen': tipoimg } }).then(function (response) {
                                var resp = response.body.model;
                                if (!resp.success) {
                                    if (resp.mensaje != null && resp.mensaje.length > 0) {
                                        this.errorRegistroGaleria = resp.mensaje;
                                    }
                                }
                                else {
                                    if (resp.alerta != null && resp.alerta.length > 0) {
                                        $.notify(resp.alerta, "success");
                                    }
                                    this.cargarImages(this.modelGaleria.IdGaleria);

                                }
                                this.isLoading = false;
                            }, function (err) {
                                this.errorRegistroGaleria = err.status + ' : ' + err.statusText;
                                this.isLoading = false;
                            });
                        }
                        },
                        enlazarsimpleLightbox: function () {

                            var galeria_simple = $(".gallery_simple a").simpleLightbox({
                                alertError: false,
                                captions: true,
                                captionSelector: 'self',
                                showCounter: true,
                                loop: true
                            });

                            galeria_simple.on('error.simplelightbox', function (e) {
                                console.log(e);
                            });

                        },
                    mostrarPagina: function (valor) {

                        if (valor === "N") {
                            if (this.pagination.initpage + this.pagination.pagesize <= this.pagination.totalpages) {
                                this.pagination.initpage += this.pagination.pagesize;
                                this.pagination.actual_page += 1;
                            } else return;
                        } else {
                            if (this.pagination.initpage - this.pagination.pagesize >= 1) {
                                this.pagination.initpage -= this.pagination.pagesize;
                                this.pagination.actual_page -= 1;
                            } else return;
                        }
                        this.cargarImages(this.modelGaleria.IdGaleria);
                    },
                    convertirFecha: function (f) {
                        return obtenerFecha(f);
                    },
                    obtenerFechaFormatHTML: function (dateJson) {
                        var date = new Date(parseInt(dateJson.substr(6)));
                        return date.toISOString().slice(0, 10);
                    }
                }
            });


        });

    </script>


}