﻿<!-- Modal Aviso Primera Visita-->
<div class="modal fade" id="banners_home" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">

                <div v-if="banners.length > 1" id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="index" v-for="(item, index) in banners" v-bind:class="active(index,'')"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div v-bind:class="active(index,'item')" v-for="(item, index) in banners">
                            <img v-bind:src="'@Href("~/Images/home/index/banners/_")'+item.IdBanner+(item.TipoImagen==null?'.png':item.TipoImagen)" />
                        </div><!-- End .item -->
                    </div><!-- End .carousel-inner -->
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                </div><!-- End .carousel -->
                <div v-else-if="banners.length === 1">
                    <img v-for="(item, index) in banners" v-bind:src="'@Href("~/Images/home/index/banners/_")'+item.IdBanner+(item.TipoImagen==null?'.png':item.TipoImagen)" style="max-width: 100%; max-height: 100%;" alt="" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-black" data-dismiss="modal">CERRAR</button>
            </div>
        </div>
    </div>

</div><!-- End .Aviso Primera Visita -->