﻿<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="widget about-widget">
                    <img src="@Href("~/Images/logo_rsa.png")"  alt="Red Social Azteca">
                    <hr>
                    <p>"Una red de apoyo para quienes más lo necesitan, porque ayudar, es cuestión de voluntad"</p>
                </div><!-- End .widget -->
            </div><!-- End .col-md-5 -->
            <div class="col-md-7 col-md-offset-1">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="widget">

                            <h4 class="widget-title">Centros de Acopio</h4>
                            <h6 class="widget-title small">Internos</h6>
                            <ul class="fa-ul">
                                <li><a href="#" title="Periférico Sur #4121 Col. Tlalpan, Fuentes del Pedregal, C.P. 14141, CDMX"><i class="fa-li fa fa-chain"></i>TV Azteca</a></li>
                                <li><a href="#" title="Insurgentes Sur #3579, Col. Tlalpan, La Joya, C.P. 14000, CDMX"><i class="fa-li fa fa-chain"></i>Elektra</a></li>
                                <li><a href="#" title="Vereda 80, Col. Jardines del Pedregal, C.P. 01900, CDMX"><i class="fa-li fa fa-chain"></i>Fundación Azteca</a></li>
                                <li><a href="#" title="Periférico Sur 4277, Jardines en la Montaña, 14210 CDMX"><i class="fa-li fa fa-chain"></i>Italika</a></li>
                                <li><a href="#" title="Av. Insurgentes Sur #3155, Col. Insurgentes Cuicuilco, C.P. 04530  CDMX"><i class="fa-li fa fa-chain"></i>Banco Azteca</a></li>
                                <li><a href="#" title="Periférico Sur # 4121 Col Fuentes del Pedregal C.P. 14141 CDMX"><i class="fa-li fa fa-chain"></i>Total Play</a></li>

                                <li><a href="#" title="Montes Urales # 450 Lomas de Chapultepec V Sección C.P. 11000 CDMX"><i class="fa-li fa fa-chain"></i>Montes Urales</a></li>
                            </ul>
                            <h6 class="widget-title small">Externos</h6>
                            <ul class="fa-ul">
                                <li><a href="#"><i class="fa-li fa fa-chain"></i>Sportium</a></li>
                                <li><a href="#"><i class="fa-li fa fa-chain"></i>Otros...</a></li>
                            </ul>
                        </div>
                    </div><!-- End .col-sm-6 -->
                    <div class="col-sm-4">
                        <div class="widget">
                            <h4 class="widget-title">Directorio</h4>
                            <ul class="fa-ul">
                                <li><a href="#"><i class="fa-li fa fa-chain"></i>Red de Organizaciones Civiles</a></li>
                            </ul>
                            <h4 class="widget-title">Contacto</h4>
                            <ul class="fa-ul">
                                <li>
                                    <a href="#">
                                        <i class="fa-li fa fa-map"></i>Vereda No. 80<br />Col. Jardines del Pedregal <br />
                                        C.P. 01900 <br />
                                        México, D.F.
                                    </a>

                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-li fa fa-phone"></i>(55) 1720 4930
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-li fa fa-envelope"></i>redsocial@tvazteca.com.mx
                                    </a>
                                </li>
                            </ul>


                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-3 -->
                    <div class="col-sm-4">
                        <div class="widget">
                            <h4 class="widget-title">Aviso de Privacidad</h4>
                            <ul class="fa-ul">
                                <li><a href="#"><i class="fa-li fa fa-unlock-alt"></i>Aviso Legal/Politica de Privacidad</a></li>
                            </ul>
                            <h4 class="widget-title">S&iacute;guenos en</h4>
                            <ul class="fa-ul">
                                <li><a href="#"><i class="fa-li fa fa-facebook"></i>Facebook</a></li>
                                <li><a href="#"><i class="fa-li fa fa-instagram"></i>Instagram</a></li>
                                <li><a href="#"><i class="fa-li fa fa-twitter"></i>Twitter</a></li>
                                <li><a href="#"><i class="fa-li fa fa-youtube"></i>Youtube</a></li>
                            </ul>
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-3 -->
                </div><!-- End .row -->
            </div><!-- End .col-md-6 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-right">
                <ul class="footer-menu">
                    <li class="active"><a class="ir_a" href="#wrapper">Inicio</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Embajador</a></li>
                    <li><a href="#">Nuestros programas</a></li>
                    <!--<li><a href="#nuestras_causas" class="ir_a">Nuestras causas</a></li>-->
                    <!--<li><a href="#">Contacto</a></li>-->
                </ul>
            </div><!-- End .footer-right -->
            <p class="copyright">Derechos reservados por Red Social Azteca 2018 &copy;.</p>
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->
