﻿<header class="header sticky-header">
    <div class="header-inner">
        <div class="container">
            <a href="../../index.html" class="site-logo" title="Red Social. FAZ">
                <img src="../../images/logo_faz.png" alt="Red Social" class="faz">
                <!--<span class="sr-only">Red Social</span>-->
                <img src="../../images/logo_rsa.png" alt="Red Social" class="rsa">
                <!--<span class="sr-only">Red Social</span>-->
            </a>
            <div class="dropdown header-dropdown cart-dropdown">
                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="">
                        <i class="glyphicon glyphicon glyphicon-user"></i>
                    </span>
                </a>
            </div><!-- End .user -->

        </div><!-- End .container -->
    </div><!-- End .header-inner -->
    <div class="header-bottom">
        <div class="container">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-container"
                    aria-expanded="false">
                <span class="toggle-text">Menu</span>
                <span class="toggle-wrapper">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="main-nav-container">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="../../index.html" class="dropdown-toggle" role="button" aria-expanded="false">Inicio</a>
                    </li>
                    <li class="dropdown">
                        <a href="../galerias/admin_galerias.html" class="dropdown-toggle" role="button" aria-expanded="false">Galerías</a>
                    </li>
                    <li class="dropdown active">
                        <a href="../main_slider/main_slider.html" class="dropdown-toggle" role="button" aria-expanded="false">Slider </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- End .container -->
    </div><!-- End .header-bottom -->
</header><!-- End .header -->
