﻿<header class="header sticky-header">
    <div class="header-inner">
        <div class="container">
            <a href="index.html" class="site-logo" title="Red Social. FAZ">
                <img src="@Href("~/Images/logo_faz.png")" alt="Red Social" class="faz">
                <!--<span class="sr-only">Red Social</span>-->
                <img src="@Href("~/Images/logo_rsa.png")" alt="Red Social" class="rsa">
                <!--<span class="sr-only">Red Social</span>-->
            </a>
            <div class="header-info-boxes">

                <div class="header-info-box">
                    <i class="fa fa-thumbs-up success"></i>
                    <div class="info-box-title">347,588</div>
                    <p>visitas</p>
                </div><!-- End .header-info-box -->

                @Html.Partial("_Login")
            </div><!-- End header-info-boxes -->
        </div><!-- End .container -->
    </div><!-- End .header-inner -->
    <div class="header-bottom">
        @Html.Partial("_Menu")

    </div><!-- End .header-bottom -->
</header><!-- End .header -->