﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Red Social. Fundación AztecaT</title>
    <!-- Google Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300,300i,400,400i,600,600i,700,800" rel="stylesheet">
    @Styles.Render("~/Content/css")
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="@Href("~/Images/icons/favicon.png")">

    <!-- Modernizr -->
    @Scripts.Render("~/bundles/modernizr")
    <!-- FilePond -->
    @Styles.Render("~/Content/filepond")


    @RenderSection("header", required: false)
</head>
<body>
    <div id="wrapper">
        @Html.Partial("_HeaderSticky")
        <div class="main">
            <div class="page-header larger parallax custom" style="background-image:url(https://png.pngtree.com/thumb_back/fw800/back_pic/00/02/06/18560fdccac9aa7.jpg)">
                <div class="container">
                    <h1>@ViewBag.TutiloPage</h1>
                    <ol class="breadcrumb">
                        <li><a href="#">Admin</a></li>
                        <li><a href="#">Slider</a></li>
                    </ol>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <div id="container" class="container">
                @RenderBody()
            </div><!-- End .container -->
        </div><!-- End .main -->
        <div class="mb20"></div><!-- margin -->
        @Html.Partial("_FootGeneral")
    </div><!-- End #wrapper -->

    @RenderSection("endBody", required: false)


    <a id="scroll-top" href="#top" title="Scroll top"><i class="fa fa-angle-up"></i></a>
    <!-- End -->
   @* @Scripts.Render("~/bundles/jquery")*@
    @* @Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/plugin")

    @Scripts.Render("~/bundles/filepond")

    <script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>



    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/componentes")

    @RenderSection("scripts", required: false)
</body>
</html>
