﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Red Social. Fundación AztecaT</title>
    <!-- Google Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300,300i,400,400i,600,600i,700,800" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/theme-faz")

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="@Href("~/Images/icons/favicon.png")">

    <script>
        var baseUrl = function (url) {
            return '@Href("~/")'+url;
        }
    </script>

    <!-- Modernizr -->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/jquery")

    @RenderSection("header", required: false)
</head>
<body>
    <div id="wrapper">
        @Html.Partial("_HeaderPublic")
        <div class="main">
            <div class="page-header larger parallax custom" style="background-image:url('@Href("~/Images/home/index/carrusel_campanas/c_3.JPG")'">
                <div class="container">
                    <h1>¿Quiénes somos?</h1>
                    <ol class="breadcrumb">
                        @RenderSection("breadcrumb", required: false)
                    </ol>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-md-push-3">
                        @RenderBody()
                    </div>
                    <aside class="col-md-3 col-md-pull-9 sidebar">
                        <div class="widget">
                            <h3 class="widget-title">NOSOTROS</h3>
                            <ul class="fa-ul">
                                <li><a href="~/Nosotros/quienes-somos"><i class="fa-li fa fa-chain"></i>¿QUIÉNES SOMOS?</a></li>
                                <li><a href="~/Nosotros/historia"><i class="fa-li fa fa-chain"></i>HISTORIA</a></li>
                                <li><a href="~/Nosotros/objetivos"><i class="fa-li fa fa-chain"></i>OBJETIVOS</a></li>
                                <li><a href="~/Nosotros/pilares"><i class="fa-li fa fa-chain"></i>PILARES</a></li>
                            </ul>
                        </div><!-- end .widget -->
                    </aside>
                </div>

            </div>


        </div><!-- End .main -->

        @Html.Partial("_FootGeneral")
    </div><!-- End #wrapper -->
    <!-- Modal Aviso Primera Visita-->
    @Html.Partial("_BannersFV")

    <a id="scroll-top" href="#top" title="Scroll top"><i class="fa fa-angle-up"></i></a>

    @Scripts.Render("~/bundles/plugin")
    @Scripts.Render("~/bundles/scriptsvue-home")

        @RenderSection("scripts", required: false)
    </body>
</html>
