﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Red Social. Fundación Azteca</title>
    <!-- Google Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300,300i,400,400i,600,600i,700,800" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/theme-faz")

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="@Href("~/Images/icons/favicon.png")">

    <script>
        var baseUrl = function (url) {
            return '@Href("~/")'+url;
        }
    </script>
    @*@Scripts.Render("~/bundles/jquery")*@
    <!-- GALERIA simplelightbox  -->
    @*<link href="js/plugins/simple-lightbox/simplelightbox.min.css" rel="stylesheet" />*@

    <!-- Modernizr -->
    @Scripts.Render("~/bundles/modernizr")


    @RenderSection("header", required: false)
</head>
<body>
    @RenderBody()

    <!-- Modal Aviso Primera Visita-->
    @Html.Partial("_BannersFV")

    @* @Scripts.Render("~/bundles/bootstrap")*@

    @Scripts.Render("~/bundles/plugin")
    @Scripts.Render("~/bundles/scriptsvue-layout")



    @RenderSection("scripts", required: false)
</body>
</html>
