﻿<div class="header-info-box dropdown header-dropdown cart-dropdown" style="cursor: pointer">
    <i class="glyphicon glyphicon-user custom2"></i>
    <div class="info-box-title">ACCESO</div>
    <b>RSAz</b>
    <div class="dropdown-menu">
        <h2 class="mb10">INICIAR SESIÓN</h2>
        <form action="#">
            <div class="form-group">
                <label>Usuario</label>
                <div class="input-group">
                    <span class="input-group-addon" id="txtUsuario"><i class="glyphicon glyphicon glyphicon-envelope"></i></span>
                    <input type="text" class="form-control" placeholder="Usuario" aria-describedby="txtUsuario">
                </div>
            </div><!-- End .from-group -->
            <div class="form-group">
                <label>Contraseña</label>
                <div class="input-group">
                    <span class="input-group-addon" id="txtPassword"><i class="glyphicon glyphicon glyphicon-asterisk"></i></span>
                    <input type="password" class="form-control" placeholder="Contraseña" aria-describedby="txtPassword">
                </div>
            </div><!-- End .from-group -->
            <div class="row-sm">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <button class="btn btn-custom">ENTRAR</button>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right">
                    <a href="admin/instituciones/registrorsa.html" class="btn btn-custom2">PARTICIPAR</a>
                </div>
            </div>

        </form>
    </div><!-- End .dropdown-menu -->
</div><!-- End .header-info-box -->
