﻿<div class="container">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-container" aria-expanded="false">
        <span class="toggle-text">Menu</span>
        <span class="toggle-wrapper">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </span>
    </button>
    <div class="collapse navbar-collapse" id="main-nav-container">
        <ul class="nav navbar-nav">
            <li class="dropdown active">
                <a href='@Url.Action("Index", "Home")' class="dropdown-toggle" role="button" aria-expanded="false">Inicio</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Nosotros<span class="angle"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="~/Nosotros/quienes-somos">¿Quiénes somos?</a></li>
                    <li><a href="~/Nosotros/historia">Historia</a></li>
                    <li><a href="~/Nosotros/objetivos">Objetivos</a></li>
                    <li><a href="~/Nosotros/pilares">Pilares</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Vinculacion<span class="angle"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Premio</a></li>

                </ul>
            </li>
            <!--<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Nuestros programas<span class="angle"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="donativos.html">Donativos</a></li>
                    <li><a href="comite_donativos.html">¿Qué es el Comité de Donativos?</a></li>
                    <li><a href="como_donar.html">¿Qué y como puedo donar?</a></li>
                    <li><a href="realizar_donativo.html">¿Deseas realizar un donativo?</a></li>
                    <li><a href="necesitas_donativo.html">¿Necesitas un donativo?</a></li>
                    <li><a href="no_dona_rs.html">¿Qué no dona Red Social?</a></li>
                </ul>
            </li>-->
            <!--<li class="dropdown">
                <a href="#nuestras_causas" class="ir_a dropdown-toggle" role="button" aria-expanded="false">Nuestras causas <span class="tip soon">Ver</span></a>
            </li>-->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Voluntariado<span class="tip new"> <i class="fa fa-thumbs-o-up custom"></i> </span> <span class="angle"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="~/Voluntariado/conoce-mas">Conoce más</a></li>
                    <li><a href="~/Voluntariado/requisitos">Requisistos</a></li>
                    <li><a href="~/Voluntariado/registro">Registro</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Embajador<span class="angle"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="~/Embajador/perfil">Perfil</a></li>
                            <li><a href="~/Embajador/nuestro-embajador">Nuestro Embajador</a></li>
                            <li><a href="~/Embajador/actividades">Actividades</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#nuestras_causas" class="ir_a dropdown-toggle" role="button" aria-expanded="false">Donativos <span class="tip hot"><i class="fa fa-heart"></i></span></a>
            </li>
            <li class="dropdown pull-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Administrador<span class="tip new"> Admin </span> <span class="angle"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href='@Url.Action("Index", "Galeria")'>Galeria</a></li>
                    <li><a href='@Url.Action("Index", "Aviso")'>Aviso</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</div><!-- End .container -->
