/*
	Simple Theme
	Skin Name: FAZ Verde
	First-color: #619B42
	Second-color: #F0CA00
*/
a {
    color: #619B42;
}

    a:hover, a:focus {
        color: #255627;
    }

.text-custom {
    color: #619B42;
}

.text-custom2 {
    color: #F0CA00;
}

blockquote cite {
    color: #619B42;
}

.highlight.custom {
    background-color: #619B42;
}

.highlight.custom2 {
    background-color: #F0CA00;
}

.dropcap.custom::first-letter {
    background-color: #619B42;
}

.dropcap.custom2::first-letter {
    background-color: #F0CA00;
}

::-moz-selection {
    background-color: #619B42;
}

::selection {
    background-color: #619B42;
}

.bg-custom {
    background-color: #619B42 !important;
}

    .bg-custom.border {
        border-top-color: #357a38;
        border-bottom-color: #357a38;
    }

    .bg-custom.bordered {
        border-color: #357a38;
    }

.bg-custom2 {
    background-color: #F0CA00 !important;
}

    .bg-custom2.border {
        border-top-color: #c09d02;
        border-bottom-color: #c09d02;
    }

    .bg-custom2.bordered {
        border-color: #c09d02;
    }

.overlay-container .overlay.custom {
    background-color: #619B42;
}

.overlay-container .overlay.custom2 {
    background-color: #F0CA00;
}

.trigger-video-btn:hover, .trigger-video-btn:focus {
    background-color: rgba(76, 175, 80, 0.65);
}

.header a:hover, .header a:focus {
    color: #619B42;
}

.header .header-dropdown .dropdown-menu > li > a:hover, .header .header-dropdown .dropdown-menu > li > a:focus {
    background-color: #619B42;
}

.header-top .header-dropdown.open > a, .header-top .header-dropdown:hover > a, .header-top .header-dropdown:focus > a {
    background-color: #619B42;
    border-color: #619B42;
}

.header-top .top-menu li a:before {
    background-color: #619B42;
}

.header-top .top-menu li.active a, .header-top .top-menu li:hover a, .header-top .top-menu li:focus a {
    color: #619B42;
}

.header-top .top-links a {
    color: #619B42;
}

.header-top .social-icons .social-icon:hover, .header-top .social-icons .social-icon:focus {
    background-color: #619B42;
    border-color: #619B42;
}

.header-info-boxes .header-info-box i.custom {
    background-color: #C51912;
}

.header-info-boxes .header-info-box i.custom2 {
    background-color: #619B42;
}

.dropdown.cart-dropdown > a {
    color: #619B42;
}

    .dropdown.cart-dropdown > a .dcart-total-count {
        color: #619B42;
    }

.dropdown.cart-dropdown.open > a, .dropdown.cart-dropdown:hover > a, .dropdown.cart-dropdown:focus > a {
    color: #46a149;
}

.header.header2 .navbar-nav .dropdown.cart-dropdown > a .dcart-total-count {
    background-color: #619B42;
}

@media (min-width: 768px) {
    .header.header2.transparent.light .navbar-nav > li.open > a, .header.header2.transparent.light .navbar-nav > li.open > a:hover, .header.header2.transparent.light .navbar-nav > li.open > a:focus, .header.header2.transparent.light .navbar-nav > li.active > a, .header.header2.transparent.light .navbar-nav > li.active > a:hover, .header.header2.transparent.light .navbar-nav > li.active > a:focus {
        color: #619B42;
    }
}

.header.header3 .social-icons .social-icon:hover, .header.header3 .social-icons .social-icon:focus {
    background-color: #619B42;
}

@media (min-width: 992px) {
    .header.header5 .header-top.custom {
        background-color: #619B42;
        border-color: #619B42;
    }
}

.header.header5.dark .sidemenu-toggle:hover, .header.header5.dark .sidemenu-toggle:focus {
    background-color: #619B42;
    border-color: #619B42;
}

@media (min-width: 768px) {
    .navbar-nav > li > a:before {
        background-color: #619B42;
    }

    .navbar-nav > li.open > a, .navbar-nav > li.open > a:hover, .navbar-nav > li.open > a:focus, .navbar-nav > li.active > a, .navbar-nav > li.active > a:hover, .navbar-nav > li.active > a:focus {
        color: #619B42;
    }
}

.navbar-nav .dropdown-menu > li > a:hover, .navbar-nav .dropdown-menu > li > a:focus {
    background-color: #619B42;
}

.navbar-nav .dropdown-menu > li.open > a, .navbar-nav .dropdown-menu > li.open > a:hover, .navbar-nav .dropdown-menu > li.open > a:focus {
    background-color: #619B42;
}

.navbar-nav .dropdown-menu.megamenu a:hover, .navbar-nav .dropdown-menu.megamenu a:focus {
    background-color: #619B42;
}

.navbar-toggle:hover, .navbar-toggle:focus,
.menu-toggle:hover,
.menu-toggle:focus,
.sidemenu-toggle:hover,
.sidemenu-toggle:focus {
    background-color: #619B42;
    border-color: #619B42;
}

.tip {
    background-color: #619B42;
}

    .tip:after {
        border-color: #619B42 transparent transparent transparent;
    }

.navbar-nav li li .tip:after,
.side-menu .tip:after {
    border-color: transparent transparent #619B42 transparent;
}

.navbar-container .social-icons .social-icon:hover, .navbar-container .social-icons .social-icon:focus {
    background-color: #619B42;
}

.navbar-nav.nav-overlay li:hover > a,
.navbar-nav.nav-overlay li.open > a,
.navbar-nav.nav-overlay li.active > a {
    color: #619B42 !important;
}

    .navbar-nav.nav-overlay li:hover > a:hover, .navbar-nav.nav-overlay li:hover > a:focus,
    .navbar-nav.nav-overlay li.open > a:hover,
    .navbar-nav.nav-overlay li.open > a:focus,
    .navbar-nav.nav-overlay li.active > a:hover,
    .navbar-nav.nav-overlay li.active > a:focus {
        color: #619B42 !important;
    }

.navbar-container.dark .social-icons .social-icon:hover, .navbar-container.dark .social-icons .social-icon:focus {
    background-color: #619B42;
}

.navbar-container.dark .menu-toggle:hover, .navbar-container.dark .menu-toggle:focus {
    background-color: #619B42;
    border-color: #619B42;
}

.navbar-container.dark .navbar-nav.nav-overlay li:hover > a, .navbar-container.dark .navbar-nav.nav-overlay li.open > a, .navbar-container.dark .navbar-nav.nav-overlay li.active > a {
    color: #619B42 !important;
}

    .navbar-container.dark .navbar-nav.nav-overlay li:hover > a:hover, .navbar-container.dark .navbar-nav.nav-overlay li:hover > a:focus, .navbar-container.dark .navbar-nav.nav-overlay li.open > a:hover, .navbar-container.dark .navbar-nav.nav-overlay li.open > a:focus, .navbar-container.dark .navbar-nav.nav-overlay li.active > a:hover, .navbar-container.dark .navbar-nav.nav-overlay li.active > a:focus {
        color: #619B42 !important;
    }

.side-menu li.active > a,
.side-menu li.active > a:hover,
.side-menu li.active > a:focus, .side-menu li:hover > a,
.side-menu li:hover > a:hover,
.side-menu li:hover > a:focus, .side-menu li:focus > a,
.side-menu li:focus > a:hover,
.side-menu li:focus > a:focus {
    color: #619B42;
}

.header.dark .side-menu li.active > a,
.header.dark .side-menu li.active > a:hover,
.header.dark .side-menu li.active > a:focus, .header.dark .side-menu li:hover > a,
.header.dark .side-menu li:hover > a:hover,
.header.dark .side-menu li:hover > a:focus, .header.dark .side-menu li:focus > a,
.header.dark .side-menu li:focus > a:hover,
.header.dark .side-menu li:focus > a:focus {
    color: #619B42;
}

@media (min-width: 992px) {
    .header2.sticky-header.fixed.transparent.custom {
        background-color: #619B42;
    }
}

.header-top.custom {
    background-color: #619B42;
    border-color: #619B42;
}

    .header-top.custom .header-dropdown > a {
        background-color: #52b455;
        border-color: #5cb860;
    }

    .header-top.custom .header-dropdown:nth-of-type(2n) > a {
        background-color: #49a84d;
    }

    .header-top.custom .header-dropdown.open > a, .header-top.custom .header-dropdown:hover > a, .header-top.custom .header-dropdown:focus > a {
        background-color: #449d48;
        border-color: #49a84d;
    }

    .header-top.custom .top-menu li a:before {
        background-color: #7cc67f;
    }

    .header-top.custom .top-menu li + li:before {
        color: #409343;
    }

    .header-top.custom .top-menu li.active a, .header-top.custom .top-menu li:hover a, .header-top.custom .top-menu li:focus a {
        color: #92cf94;
    }

    .header-top.custom .top-links a:hover, .header-top.custom .top-links a:focus {
        color: #92cf94;
    }

    .header-top.custom .social-icons .social-icon {
        border-color: #60ba63;
    }

        .header-top.custom .social-icons .social-icon:hover, .header-top.custom .social-icons .social-icon:focus {
            background-color: #449d48;
            border-color: #449d48;
        }

.header-top.dark .header-dropdown > a {
    background-color: #619B42;
    border-color: #46a149;
}

.header-top.dark .header-dropdown:nth-of-type(2n) > a {
    background-color: #52b455;
}

.header-top.dark .header-dropdown.open > a, .header-top.dark .header-dropdown:hover > a, .header-top.dark .header-dropdown:focus > a {
    background-color: #449d48;
    border-color: #49a84d;
}

.header-top.dark .top-menu li.active a, .header-top.dark .top-menu li:hover a, .header-top.dark .top-menu li:focus a {
    color: #619B42;
}

.header-top.dark .top-links a:hover, .header-top.dark .top-links a:focus {
    color: #619B42;
}

.header-top.dark .social-icons .social-icon:hover, .header-top.dark .social-icons .social-icon:focus {
    border-color: #619B42;
}

.header-bottom.custom {
    background-color: #619B42;
}

    .header-bottom.custom .navbar-toggle:hover, .header-bottom.custom .navbar-toggle:focus {
        background-color: #F0CA00;
        border-color: #F0CA00;
    }

@media (min-width: 768px) {
    .header-bottom.custom .navbar-nav > li.open > a, .header-bottom.custom .navbar-nav > li.open > a:hover, .header-bottom.custom .navbar-nav > li.open > a:focus, .header-bottom.custom .navbar-nav > li.active > a, .header-bottom.custom .navbar-nav > li.active > a:hover, .header-bottom.custom .navbar-nav > li.active > a:focus {
        color: #619B42;
    }
}

@media (min-width: 768px) {
    .header-bottom.custom .navbar-nav .cart-dropdown > a .dcart-total-count {
        background-color: #619B42;
    }
}

.header-bottom.custom .navbar-nav .cart-dropdown.open > a .dcart-total-count, .header-bottom.custom .navbar-nav .cart-dropdown:hover > a .dcart-total-count, .header-bottom.custom .navbar-nav .cart-dropdown:focus > a .dcart-total-count {
    color: #619B42;
}

@media (min-width: 768px) {
    .header-bottom.dark .navbar-nav .cart-dropdown > a .dcart-total-count {
        background-color: #619B42;
    }
}

.header.custom {
    background-color: #619B42;
}

    .header.custom .dropdown.header-dropdown .dropdown-menu {
        border-color: #439a46;
        background-color: #619B42;
    }

        .header.custom .dropdown.header-dropdown .dropdown-menu > li > a:hover, .header.custom .dropdown.header-dropdown .dropdown-menu > li > a:focus {
            background-color: #3d8b40;
        }

    .header.custom .header-top:not(.dark) {
        border-color: #449d48;
    }

        .header.custom .header-top:not(.dark) .header-dropdown > a {
            background-color: #52b455;
            border-color: #5cb860;
        }

        .header.custom .header-top:not(.dark) .header-dropdown:nth-of-type(2n) > a {
            background-color: #49a84d;
        }

        .header.custom .header-top:not(.dark) .header-dropdown.open > a, .header.custom .header-top:not(.dark) .header-dropdown:hover > a, .header.custom .header-top:not(.dark) .header-dropdown:focus > a {
            background-color: #449d48;
            border-color: #49a84d;
        }

        .header.custom .header-top:not(.dark) .top-menu li a:before {
            background-color: #7cc67f;
        }

        .header.custom .header-top:not(.dark) .top-menu li + li:before {
            color: #409343;
        }

        .header.custom .header-top:not(.dark) .top-menu li.active a, .header.custom .header-top:not(.dark) .top-menu li:hover a, .header.custom .header-top:not(.dark) .top-menu li:focus a {
            color: #92cf94;
        }

        .header.custom .header-top:not(.dark) .top-links a:hover, .header.custom .header-top:not(.dark) .top-links a:focus {
            color: #92cf94;
        }

        .header.custom .header-top:not(.dark) .social-icons .social-icon {
            border-color: #449d48;
        }

            .header.custom .header-top:not(.dark) .social-icons .social-icon:hover, .header.custom .header-top:not(.dark) .social-icons .social-icon:focus {
                background-color: #3d8b40;
                border-color: #3d8b40;
            }

    .header.custom .header-info-boxes .header-info-box i:not(.dark) {
        color: #619B42;
    }

    .header.custom .header-info-boxes .header-info-box + .header-info-box:before {
        background-color: #419645;
    }

    .header.custom .dropdown.cart-dropdown > a .dcart-total-count {
        background-color: #619B42;
    }

    .header.custom .dropdown.cart-dropdown.open > a, .header.custom .dropdown.cart-dropdown:hover > a, .header.custom .dropdown.cart-dropdown:focus > a {
        color: #409343;
    }

        .header.custom .dropdown.cart-dropdown.open > a .dcart-total-count, .header.custom .dropdown.cart-dropdown:hover > a .dcart-total-count, .header.custom .dropdown.cart-dropdown:focus > a .dcart-total-count {
            color: #619B42;
        }

    .header.custom .dropdown.cart-dropdown .dropdown-menu .product .delete-btn {
        background-color: #46a149;
    }

        .header.custom .dropdown.cart-dropdown .dropdown-menu .product .delete-btn:hover, .header.custom .dropdown.cart-dropdown .dropdown-menu .product .delete-btn:focus {
            background-color: #409343;
        }

    .header.custom .dropdown.cart-dropdown .dcart-products {
        border-color: #409343;
    }

    .header.custom .header-bottom:not(.dark) {
        background-color: #3d8b40;
    }

@media (min-width: 768px) {
    .header.custom .navbar-nav:not(.nav-overlay) > li > a:before,
    .header.custom .header-bottom .navbar-nav > li > a:before {
        background-color: #3d8b40;
    }

    .header.custom .navbar-nav:not(.nav-overlay) > li.open > a, .header.custom .navbar-nav:not(.nav-overlay) > li.open > a:hover, .header.custom .navbar-nav:not(.nav-overlay) > li.open > a:focus, .header.custom .navbar-nav:not(.nav-overlay) > li.active > a, .header.custom .navbar-nav:not(.nav-overlay) > li.active > a:hover, .header.custom .navbar-nav:not(.nav-overlay) > li.active > a:focus,
    .header.custom .header-bottom .navbar-nav > li.open > a,
    .header.custom .header-bottom .navbar-nav > li.open > a:hover,
    .header.custom .header-bottom .navbar-nav > li.open > a:focus,
    .header.custom .header-bottom .navbar-nav > li.active > a,
    .header.custom .header-bottom .navbar-nav > li.active > a:hover,
    .header.custom .header-bottom .navbar-nav > li.active > a:focus {
        background: #619B42;
    }
}

@media (min-width: 768px) {
    .header.custom .navbar-nav:not(.nav-overlay) .cart-dropdown > a .dcart-total-count,
    .header.custom .header-bottom .navbar-nav .cart-dropdown > a .dcart-total-count {
        background-color: #619B42;
    }
}

.header.custom .navbar-nav:not(.nav-overlay) .cart-dropdown.open > a .dcart-total-count, .header.custom .navbar-nav:not(.nav-overlay) .cart-dropdown:hover > a .dcart-total-count, .header.custom .navbar-nav:not(.nav-overlay) .cart-dropdown:focus > a .dcart-total-count,
.header.custom .header-bottom .navbar-nav .cart-dropdown.open > a .dcart-total-count,
.header.custom .header-bottom .navbar-nav .cart-dropdown:hover > a .dcart-total-count,
.header.custom .header-bottom .navbar-nav .cart-dropdown:focus > a .dcart-total-count {
    color: #619B42;
}

.header.custom .navbar-nav:not(.nav-overlay) .dropdown-menu,
.header.custom .header-bottom .navbar-nav .dropdown-menu {
    background: #619B42;
}

    .header.custom .navbar-nav:not(.nav-overlay) .dropdown-menu > li > a:hover, .header.custom .navbar-nav:not(.nav-overlay) .dropdown-menu > li > a:focus,
    .header.custom .header-bottom .navbar-nav .dropdown-menu > li > a:hover,
    .header.custom .header-bottom .navbar-nav .dropdown-menu > li > a:focus {
        background-color: #3d8b40;
    }

    .header.custom .navbar-nav:not(.nav-overlay) .dropdown-menu > li.open > a, .header.custom .navbar-nav:not(.nav-overlay) .dropdown-menu > li.open > a:hover, .header.custom .navbar-nav:not(.nav-overlay) .dropdown-menu > li.open > a:focus,
    .header.custom .header-bottom .navbar-nav .dropdown-menu > li.open > a,
    .header.custom .header-bottom .navbar-nav .dropdown-menu > li.open > a:hover,
    .header.custom .header-bottom .navbar-nav .dropdown-menu > li.open > a:focus {
        background-color: #3d8b40;
    }

@media (max-width: 767px) {
    .header.custom .navbar-nav:not(.nav-overlay) .dropdown-menu.megamenu [class*="col-"]:not(:last-child),
    .header.custom .header-bottom .navbar-nav .dropdown-menu.megamenu [class*="col-"]:not(:last-child) {
        border-color: #3d8b40;
    }
}

.header.custom .navbar-nav:not(.nav-overlay) .dropdown-menu.megamenu a:hover, .header.custom .navbar-nav:not(.nav-overlay) .dropdown-menu.megamenu a:focus,
.header.custom .header-bottom .navbar-nav .dropdown-menu.megamenu a:hover,
.header.custom .header-bottom .navbar-nav .dropdown-menu.megamenu a:focus {
    background-color: #3d8b40;
}

@media (max-width: 767px) {
    .header.custom .navbar-nav {
        background-color: #619B42;
    }

        .header.custom .navbar-nav > li.open > a, .header.custom .navbar-nav > li.open > a:hover, .header.custom .navbar-nav > li.open > a:focus, .header.custom .navbar-nav > li.active > a, .header.custom .navbar-nav > li.active > a:hover, .header.custom .navbar-nav > li.active > a:focus {
            background: #409343;
        }

        .header.custom .navbar-nav > li > a:hover, .header.custom .navbar-nav > li > a:focus {
            background: #3d8b40;
        }
}

.header.custom .navbar-toggle,
.header.custom .menu-toggle,
.header.custom .sidemenu-toggle {
    background-color: #619B42;
    border-color: #619B42;
}

    .header.custom .navbar-toggle:hover, .header.custom .navbar-toggle:focus,
    .header.custom .menu-toggle:hover,
    .header.custom .menu-toggle:focus,
    .header.custom .sidemenu-toggle:hover,
    .header.custom .sidemenu-toggle:focus {
        background-color: #39843c;
        border-color: #39843c;
    }

.header.custom .side-menu li.active > a,
.header.custom .side-menu li.active > a:hover,
.header.custom .side-menu li.active > a:focus, .header.custom .side-menu li:hover > a,
.header.custom .side-menu li:hover > a:hover,
.header.custom .side-menu li:hover > a:focus, .header.custom .side-menu li:focus > a,
.header.custom .side-menu li:focus > a:hover,
.header.custom .side-menu li:focus > a:focus {
    color: #8acc8d;
}

@media (max-width: 767px) {
    .header.header2.custom .navbar-nav {
        background-color: #449d48;
    }
}

.header.header2.custom .navbar-nav > li.open > a, .header.header2.custom .navbar-nav > li.open > a:hover, .header.header2.custom .navbar-nav > li.open > a:focus, .header.header2.custom .navbar-nav > li.active > a, .header.header2.custom .navbar-nav > li.active > a:hover, .header.header2.custom .navbar-nav > li.active > a:focus {
    background: #409343;
}

@media (min-width: 768px) {
    .header.header2.custom .navbar-nav .dropdown-menu {
        border-top-color: #46a149;
    }
}

.header.header2.custom .navbar-nav .dropdown.cart-dropdown > a .dcart-total-count {
    background-color: #619B42;
}

.header.header2.custom .navbar-toggle {
    background-color: #439a46;
    border-color: #439a46;
}

    .header.header2.custom .navbar-toggle:hover, .header.header2.custom .navbar-toggle:focus {
        background-color: #39843c;
        border-color: #39843c;
    }

.header.header3.custom .social-icons .social-icon {
    background-color: #439a46;
}

    .header.header3.custom .social-icons .social-icon:hover, .header.header3.custom .social-icons .social-icon:focus {
        background-color: #39843c;
    }

@media (min-width: 992px) {
    .header.header5.custom .header-top:not(.dark) {
        background-color: #409343;
    }
}

.header.dark .header-top:not(.custom) .header-dropdown.open > a, .header.dark .header-top:not(.custom) .header-dropdown:hover > a, .header.dark .header-top:not(.custom) .header-dropdown:focus > a {
    background-color: #619B42;
    border-color: #619B42;
}

.header.dark .header-top:not(.custom) .top-menu li a:before {
    background-color: #619B42;
}

.header.dark .header-top:not(.custom) .top-menu li.active a, .header.dark .header-top:not(.custom) .top-menu li:hover a, .header.dark .header-top:not(.custom) .top-menu li:focus a {
    color: #619B42;
}

.header.dark .header-top:not(.custom) .top-links a:hover, .header.dark .header-top:not(.custom) .top-links a:focus {
    color: #92cf94;
}

.header.dark .header-top:not(.custom) .social-icons .social-icon:hover, .header.dark .header-top:not(.custom) .social-icons .social-icon:focus {
    background-color: #619B42;
    border-color: #619B42;
}

.header.dark .dropdown.cart-dropdown > a {
    color: #619B42;
}

    .header.dark .dropdown.cart-dropdown > a .dcart-total-count {
        color: #619B42;
    }

.header.dark .dropdown.cart-dropdown.open > a, .header.dark .dropdown.cart-dropdown:hover > a, .header.dark .dropdown.cart-dropdown:focus > a {
    color: #409343;
}

    .header.dark .dropdown.cart-dropdown.open > a .dcart-total-count, .header.dark .dropdown.cart-dropdown:hover > a .dcart-total-count, .header.dark .dropdown.cart-dropdown:focus > a .dcart-total-count {
        color: #619B42;
    }

.header.dark .dropdown.cart-dropdown .dropdown-menu .product .delete-btn {
    background-color: #619B42;
}

    .header.dark .dropdown.cart-dropdown .dropdown-menu .product .delete-btn:hover, .header.dark .dropdown.cart-dropdown .dropdown-menu .product .delete-btn:focus {
        background-color: #449d48;
    }

@media (min-width: 768px) {
    .header.dark .navbar-nav:not(.nav-overlay) > li > a:before,
    .header.dark .header-bottom .navbar-nav > li > a:before {
        background-color: #619B42;
    }
}

.header.dark .navbar-nav:not(.nav-overlay) .cart-dropdown.open > a .dcart-total-count, .header.dark .navbar-nav:not(.nav-overlay) .cart-dropdown:hover > a .dcart-total-count, .header.dark .navbar-nav:not(.nav-overlay) .cart-dropdown:focus > a .dcart-total-count,
.header.dark .header-bottom .navbar-nav .cart-dropdown.open > a .dcart-total-count,
.header.dark .header-bottom .navbar-nav .cart-dropdown:hover > a .dcart-total-count,
.header.dark .header-bottom .navbar-nav .cart-dropdown:focus > a .dcart-total-count {
    color: #619B42;
}

.header.dark .navbar-nav:not(.nav-overlay) .dropdown-menu > li > a:hover, .header.dark .navbar-nav:not(.nav-overlay) .dropdown-menu > li > a:focus,
.header.dark .header-bottom .navbar-nav .dropdown-menu > li > a:hover,
.header.dark .header-bottom .navbar-nav .dropdown-menu > li > a:focus {
    background-color: #619B42;
}

.header.dark .navbar-nav:not(.nav-overlay) .dropdown-menu > li.open > a, .header.dark .navbar-nav:not(.nav-overlay) .dropdown-menu > li.open > a:hover, .header.dark .navbar-nav:not(.nav-overlay) .dropdown-menu > li.open > a:focus,
.header.dark .header-bottom .navbar-nav .dropdown-menu > li.open > a,
.header.dark .header-bottom .navbar-nav .dropdown-menu > li.open > a:hover,
.header.dark .header-bottom .navbar-nav .dropdown-menu > li.open > a:focus {
    background-color: #619B42;
}

.header.dark .navbar-nav:not(.nav-overlay) .dropdown-menu.megamenu a:hover, .header.dark .navbar-nav:not(.nav-overlay) .dropdown-menu.megamenu a:focus,
.header.dark .header-bottom .navbar-nav .dropdown-menu.megamenu a:hover,
.header.dark .header-bottom .navbar-nav .dropdown-menu.megamenu a:focus {
    background-color: #619B42;
}

@media (max-width: 767px) {
    .header.dark .navbar-nav > li.open > a, .header.dark .navbar-nav > li.open > a:hover, .header.dark .navbar-nav > li.open > a:focus, .header.dark .navbar-nav > li.active > a, .header.dark .navbar-nav > li.active > a:hover, .header.dark .navbar-nav > li.active > a:focus {
        background: #619B42;
    }

    .header.dark .navbar-nav > li > a:hover, .header.dark .navbar-nav > li > a:focus {
        background: #619B42;
    }
}

.header.header2.dark .navbar-nav > li.open > a, .header.header2.dark .navbar-nav > li.open > a:hover, .header.header2.dark .navbar-nav > li.open > a:focus, .header.header2.dark .navbar-nav > li.active > a, .header.header2.dark .navbar-nav > li.active > a:hover, .header.header2.dark .navbar-nav > li.active > a:focus {
    background: #619B42;
}

.header.header2.dark .navbar-nav .dropdown.cart-dropdown > a .dcart-total-count {
    background-color: #619B42;
}

.header.header3.dark .social-icons .social-icon:hover, .header.header3.dark .social-icons .social-icon:focus {
    background-color: #619B42;
}

.sk-wave .sk-rect {
    background-color: #619B42;
}

#portfolio-filter li:before {
    background-color: #619B42;
}

#portfolio-filter li a:hover, #portfolio-filter li a:focus {
    color: #619B42;
}

#portfolio-filter li.active a {
    color: #619B42;
}

.portfolio-item a:hover, .portfolio-item a:focus {
    color: #619B42;
}

.portfolio-item .zoom-btn {
    background-color: rgba(76, 175, 80, 0.6);
}

    .portfolio-item .zoom-btn:hover, .portfolio-item .zoom-btn:focus {
        background-color: rgba(76, 175, 80, 0.88);
    }

.portfolio-item .portfolio-tags a:hover, .portfolio-item .portfolio-tags a:focus {
    color: #619B42;
}

.portfolio-item.portfolio-anim {
    background-color: #619B42;
}

    .portfolio-item.portfolio-anim .portfolio-tags a {
        color: #80c883;
    }

.pricing-table header {
    background-color: #619B42;
}

    .pricing-table header .pricing-title {
        border-bottom-color: #5cb860;
    }

.pricing-table .badge.hot {
    background-color: #F0CA00;
}

.pricing-table.dark .badge.hot {
    background-color: #619B42;
}

.product .product-title a:hover, .product .product-title a:focus {
    color: #619B42;
}

.product .btn.product-add-btn {
    background-color: #619B42;
}

    .product .btn.product-add-btn:hover, .product .btn.product-add-btn:focus {
        background-color: #3d8b40;
    }

.product-gallery a:hover, .product-gallery a:focus {
    background-color: #619B42;
}

.testimonials-container .owl-dot.active {
    background-color: #619B42 !important;
    border-color: #619B42 !important;
}

.testimonials-container.bg-custom .testimonial {
    color: #a3d7a5;
}

.testimonials-container.bg-custom .owl-dot.active {
    background-color: #3d8b40 !important;
    border-color: #3d8b40 !important;
}

.testimonials-container.bg-custom2 .testimonial {
    color: #fef0b3;
}

.testimonials-container.bg-custom2 .owl-dot.active {
    background-color: #fdce03 !important;
    border-color: #fdce03 !important;
}

.owl-dot:hover, .owl-dot:focus, .owl-dot.active {
    background-color: #619B42;
    border-color: #619B42;
}

.bg-custom .owl-dot:hover, .bg-custom .owl-dot:focus, .bg-custom .owl-dot.active {
    background-color: #3d8b40;
    border-color: #3d8b40;
}

.bg-lightgray .owl-dot:hover, .bg-lightgray .owl-dot:focus, .bg-lightgray .owl-dot.active,
.bg-gray .owl-dot:hover,
.bg-gray .owl-dot:focus,
.bg-gray .owl-dot.active {
    background-color: #619B42;
    border-color: #619B42;
}

.owl-prev:hover, .owl-prev:focus,
.owl-next:hover,
.owl-next:focus {
    border-color: #619B42;
    background-color: #619B42;
}

.error-page h1 {
    color: #619B42;
}

.member .member-top {
    background-color: #619B42;
}

    .member .member-top .social-icons .social-icon:hover, .member .member-top .social-icons .social-icon:focus {
        color: #F0CA00;
    }

.member .member-title small {
    color: #619B42;
}

.member span {
    color: #619B42;
}

.sync-carousel.owl-carousel .owl-item.center img {
    border-color: #619B42;
}

.entry .entry-media {
    background-color: #619B42;
}

    .entry .entry-media figure {
        background-color: white;
    }

.entry .entry-title i {
    background-color: #619B42;
}

.entry .entry-title a:hover, .entry .entry-title a:focus {
    color: #619B42;
}

.entry.entry-list-sm .entry-meta a:hover, .entry.entry-list-sm .entry-meta a:focus {
    color: #619B42;
}

.sidebar .widget a:hover, .sidebar .widget a:focus {
    color: #619B42;
}

.sidebar .widget.search-widget .btn:hover, .sidebar .widget.search-widget .btn:focus {
    color: #619B42;
}

.sidebar .widget .fa-ul li:after {
    background-color: #619B42;
}

.sidebar .widget .tagcloud a:hover, .sidebar .widget .tagcloud a:focus {
    background-color: #619B42;
}

.single .entry:not(.entry-grid) > .entry-meta a:hover, .single .entry:not(.entry-grid) > .entry-meta a:focus {
    color: #619B42;
}

.single .entry-author a:hover, .single .entry-author a:focus {
    color: #619B42;
}

.single .entry-author .author-content .social-icon:hover, .single .entry-author .author-content .social-icon:focus {
    color: #619B42;
}

.category-widget-btn {
    color: #619B42;
}

.filter-size-box.active, .filter-size-box:hover, .filter-size-box:focus {
    background-color: #619B42;
}

.filter-brand-list a:hover, .filter-brand-list a:focus {
    color: #619B42;
}

.noUi-connect {
    background: #619B42;
}

.soon-nav-container .soon-nav .soon-menu li.active a {
    background-color: rgba(76, 175, 80, 0.84);
}

.close-sections-btn:hover, .close-sections-btn:focus {
    background-color: #619B42;
}

.dark .soon-nav-container .soon-nav .soon-menu li.active a {
    background-color: rgba(76, 175, 80, 0.84);
}

.dark .close-sections-btn:hover, .dark .close-sections-btn:focus {
    background-color: #619B42;
}

.dark .soon-section .service:hover i.icon-bg, .dark .soon-section .service:focus i.icon-bg {
    background-color: #439a46;
}

.dark .soon-section .contact-box .social-icons .social-icon:hover, .dark .soon-section .contact-box .social-icons .social-icon:focus {
    color: #619B42;
}

.dark .soon-section .contact-box a:hover,
.dark .soon-section .contact-box a:focus {
    color: #46a149;
}

.contact-box .social-icon:hover, .contact-box .social-icon:focus {
    color: #619B42;
}

.sidebar.faqs-sidebar .widget .faqs-cat-list li a:hover, .sidebar.faqs-sidebar .widget .faqs-cat-list li a:focus {
    color: #619B42;
}

.footer .widget .tagcloud a:hover, .footer .widget .tagcloud a:focus {
    background-color: #619B42;
}

.footer .widget.instagram-widget .btn.btn-follow {
    background-color: #619B42;
    border-color: #619B42;
}

    .footer .widget.instagram-widget .btn.btn-follow:hover, .footer .widget.instagram-widget .btn.btn-follow:focus {
        background-color: #619B42;
        border-color: #619B42;
    }

.footer-bottom .copyright a {
    color: #619B42;
}

    .footer-bottom .copyright a:hover, .footer-bottom .copyright a:focus {
        color: #3d8b40;
    }

.footer-bottom .footer-menu li.active a {
    color: #619B42;
}

#scroll-top {
    background-color: #619B42;
}

    #scroll-top:hover, #scroll-top:focus {
        background-color: #3d8b40;
    }

.btn.btn-custom {
    color: #fff;
    background-color: #619B42;
    border-color: #619B42;
}

    .btn.btn-custom:hover, .btn.btn-custom:focus {
        color: #fff;
        background-color: #3d8b40;
        border-color: #3d8b40;
    }

    .btn.btn-custom.btn-border {
        color: #619B42;
        background-color: transparent;
        border-color: #619B42;
    }

        .btn.btn-custom.btn-border:hover, .btn.btn-custom.btn-border:focus {
            color: #fff;
            background-color: #619B42;
            border-color: #619B42;
        }

.btn.btn-custom2 {
    color: #fff;
    background-color: #F0CA00;
    border-color: #F0CA00;
}

    .btn.btn-custom2:hover, .btn.btn-custom2:focus {
        color: #fff;
        background-color: #fdce03;
        border-color: #fdce03;
    }

    .btn.btn-custom2.btn-border {
        color: #F0CA00;
        background-color: transparent;
        border-color: #F0CA00;
    }

        .btn.btn-custom2.btn-border:hover, .btn.btn-custom2.btn-border:focus {
            color: #fff;
            background-color: #F0CA00;
            border-color: #F0CA00;
        }

.btn.btn-white.btn-border:hover, .btn.btn-white.btn-border:focus {
    background-color: #619B42;
    border-color: #619B42;
}

.callout.callout-half.custom .form-control {
    background-color: #449d48;
    border-color: #3d8b40;
}

    .callout.callout-half.custom .form-control:focus {
        border-color: #38813b;
    }

@media (min-width: 768px) {
    .callout.callout-half.custom:before {
        background-color: #46a149;
    }
}

.callout.custom {
    background-color: #619B42;
    color: #92cf94;
}

    .callout.custom small {
        color: #92cf94;
    }

.panel.panel-custom .panel-heading a {
    background-color: #619B42;
    border-color: #449d48;
}

    .panel.panel-custom .panel-heading a:hover, .panel.panel-custom .panel-heading a:focus {
        background-color: #449d48;
        border-color: #3d8b40;
    }

.count {
    color: #619B42;
}

.count-icon {
    color: #619B42;
}

    .count-icon.custom {
        background-color: #619B42;
    }

.count-box.custom {
    background-color: #619B42;
}

    .count-box.custom .count-icon {
        background-color: #3d8b40;
    }

    .count-box.custom:hover {
        background-color: #46a149;
    }

.count-box.dark .count {
    color: #619B42;
}

.count-box.dark .count-icon {
    background-color: #619B42;
}

.form-control:focus {
    border-color: #619B42;
}

.textarea-container .form-control:focus {
    border-top-color: #619B42;
}

.custom-checkbox-container .custom-checkbox-icon {
    color: #619B42;
}

.custom-radio-container .custom-radio-icon {
    background-color: #619B42;
}

.carousel-control {
    background-color: rgba(76, 175, 80, 0.5);
}

.modal-content .modal-header {
    background-color: #619B42;
}

.breadcrumb li a {
    color: #619B42;
}

    .breadcrumb li a:hover, .breadcrumb li a:focus {
        color: #3d8b40;
    }

.page-header.custom {
    background-color: #619B42;
    color: #6ec071;
    border-color: #5cb860;
}

    .page-header.custom .breadcrumb li a {
        color: #bce2be;
    }

        .page-header.custom .breadcrumb li a:hover, .page-header.custom .breadcrumb li a:focus {
            color: #fff;
        }

    .page-header.custom .breadcrumb li + li:before {
        color: #8acc8d;
    }

    .page-header.custom.parallax:before, .page-header.custom.bg-image:before {
        background-color: #619B42;
    }

.page-header.custom2 {
    background-color: #F0CA00;
    color: #fee268;
    border-color: #fddd4e;
}

    .page-header.custom2 .breadcrumb li a {
        color: #feefae;
    }

        .page-header.custom2 .breadcrumb li a:hover, .page-header.custom2 .breadcrumb li a:focus {
            color: #fff;
        }

    .page-header.custom2 .breadcrumb li + li:before {
        color: #feea90;
    }

    .page-header.custom2.parallax:before, .page-header.custom2.bg-image:before {
        background-color: #F0CA00;
    }

.pagination > li.active > a, .pagination > li.active > a:hover, .pagination > li.active > a:focus,
.pagination > li.active > span,
.pagination > li.active > span:hover,
.pagination > li.active > span:focus {
    background-color: #619B42;
    border-color: #619B42;
}

.progress-container .progress-title {
    color: #619B42;
}

.progress .progress-bar {
    background-color: #619B42;
}

    .progress .progress-bar.gradient1 {
        background: linear-gradient(to right, #619B42 0%, #F0CA00 100%);
        background-color: #619B42;
    }

    .progress .progress-bar.gradient2 {
        background: linear-gradient(to right, #F0CA00 0%, #619B42 100%);
        background-color: #F0CA00;
    }

    .progress .progress-bar.custom {
        background-color: #619B42;
    }

    .progress .progress-bar.custom2 {
        background-color: #F0CA00;
    }

.service i.custom {
    color: #619B42;
}

.service i.custom2 {
    color: #F0CA00;
}

.service i.custom3 {
    color: #C51912;
}

.service i.custom4 {
    color: #0766AC;
}


.service img {
    width: 200px;
    height: 200px;
}



.service i.icon-bg.custom {
    background-color: #619B42;
}

.service i.icon-bg.custom2 {
    background-color: #F0CA00;
}

.service i.icon-bg.custom3 {
    background-color: #C51912;
}

.service i.icon-bg.custom4 {
    background-color: #0766AC;
}

.service.service-box:hover {
    background-color: #619B42 !important;
}

    .service.service-box:hover .icon-bg {
        background-color: #3d8b40;
    }

.service.service-box.custom:not(.service-border) {
    background-color: #619B42 !important;
}

    .service.service-box.custom:not(.service-border) .icon-bg {
        background-color: #3d8b40;
    }

    .service.service-box.custom:not(.service-border):hover {
        background-color: #3d8b40 !important;
    }

        .service.service-box.custom:not(.service-border):hover .icon-bg {
            background-color: #2d682f;
        }

.service.service-box.custom2:not(.service-border) {
    background-color: #F0CA00 !important;
}

    .service.service-box.custom2:not(.service-border) .icon-bg {
        background-color: #fdce03;
    }

    .service.service-box.custom2:not(.service-border):hover {
        background-color: #fdce03 !important;
    }

        .service.service-box.custom2:not(.service-border):hover .icon-bg {
            background-color: #caa502;
        }


.service.service-box.custom3:not(.service-border) {
    background-color: #AC1715 !important;
}

    .service.service-box.custom3:not(.service-border) .icon-bg {
        background-color: #C51912;
    }

    .service.service-box.custom3:not(.service-border):hover {
        background-color: #C51912 !important;
    }

        .service.service-box.custom3:not(.service-border):hover .icon-bg {
            background-color: #971519;
        }

.service.service-box.custom4:not(.service-border) {
    background-color: #054C7F !important;
}

    .service.service-box.custom4:not(.service-border) .icon-bg {
        background-color: #0766AC;
    }

    .service.service-box.custom4:not(.service-border):hover {
        background-color: #0766AC !important;
    }

        .service.service-box.custom4:not(.service-border):hover .icon-bg {
            background-color: #032640;
        }

.service.service-box .imgobj {
    width: 50%;
    height: 50%;
}


.service.service-border:hover {
    border-color: #3d8b40;
}

.service.service-border.custom {
    border-color: #619B42;
}

    .service.service-border.custom .icon-bg {
        background-color: #619B42;
    }

    .service.service-border.custom img {
        border: #619B42;
    }

    .service.service-border.custom:hover {
        background-color: #619B42 !important;
        border-color: #3d8b40;
    }

        .service.service-border.custom:hover .icon-bg {
            background-color: #3d8b40;
        }

.service.service-border.custom2 {
    border-color: #F0CA00;
}

    .service.service-border.custom2 .icon-bg {
        background-color: #F0CA00;
    }

    .service.service-border.custom2:hover {
        background-color: #F0CA00 !important;
        border-color: #fdce03;
    }

        .service.service-border.custom2:hover .icon-bg {
            background-color: #fdce03;
        }



.service.service-border.custom3 {
    border-color: #C51912;
}

    .service.service-border.custom3 .icon-bg {
        background-color: #C51912;
    }

    .service.service-border.custom3:hover {
        background-color: #C51912 !important;
        border-color: #D12C18;
    }

        .service.service-border.custom3:hover .icon-bg {
            background-color: #D12C18;
        }


.service.service-border.custom4 {
    border-color: #0766AC;
}

    .service.service-border.custom4 .icon-bg {
        background-color: #0766AC;
    }

    .service.service-border.custom4:hover {
        background-color: #0766AC !important;
        border-color: #0988E5;
    }

        .service.service-border.custom4:hover .icon-bg {
            background-color: #0988E5;
        }


.service.icon-left:hover .icon-bg {
    background-color: #619B42;
}

    .service.icon-left:hover .icon-bg.custom {
        background-color: #3d8b40;
    }

    .service.icon-left:hover .icon-bg.custom2 {
        background-color: #fdce03;
    }

    .service.icon-left:hover .icon-bg.custom3 {
        background-color: #D12C18;
    }

    .service.icon-left:hover .icon-bg.custom4 {
        background-color: #0766AC;
    }

.services-group.custom .service-row:nth-child(2n) .service.service-box {
    background-color: #46a149;
}

    .services-group.custom .service-row:nth-child(2n) .service.service-box:nth-child(2n) {
        background-color: #619B42;
    }

.services-group.custom .service-row:nth-child(2n+1) .service.service-box {
    background-color: #619B42;
}

    .services-group.custom .service-row:nth-child(2n+1) .service.service-box:nth-child(2n) {
        background-color: #46a149;
    }

.services-group.custom .service .icon-bg {
    background-color: #3d8b40;
}

.services-group.custom .service:hover {
    background-color: #419645 !important;
}

.table thead > tr {
    border-top-color: #619B42;
    border-bottom-color: #619B42;
}

    .table thead > tr > th {
        background-color: #619B42;
    }

.table.table-bordered > thead > tr > th,
.table.table-bordered > thead > tr > td {
    border-color: #6ec071;
}

.nav-tabs li a:before {
    background-color: #619B42;
}

.nav-pills > li.active a,
.nav-pills > li.active a:hover,
.nav-pills > li.active a:focus {
    background-color: #619B42;
}

.text-block .block-title a:hover, .text-block .block-title a:focus {
    color: #619B42;
}

.text-block .block-icon.custom {
    background-color: #619B42;
}

.text-block .block-icon.custom2 {
    background-color: #F0CA00;
}

.text-block .fa-ul li a:hover, .text-block .fa-ul li a:focus {
    color: #619B42;
}

.text-block .readmore:hover, .text-block .readmore:focus, .text-block .readmore.custom {
    background-color: #619B42;
}

    .text-block .readmore.custom:hover, .text-block .readmore.custom:focus {
        background-color: #449d48;
    }

.text-block .readmore.custom2 {
    background-color: #F0CA00;
}

    .text-block .readmore.custom2:hover, .text-block .readmore.custom2:focus {
        background-color: #fdd31c;
    }

.text-block.hover-bg:after {
    background-color: #619B42;
}

.text-block.hover-bg.custom2:after {
    background-color: #F0CA00;
}

.text-block.hover-bg.light a:not(.readmore):hover, .text-block.hover-bg.light a:not(.readmore):focus, .text-block.hover-bg:hover a:not(.readmore):hover, .text-block.hover-bg:hover a:not(.readmore):focus, .text-block.hover-bg:focus a:not(.readmore):hover, .text-block.hover-bg:focus a:not(.readmore):focus {
    color: #F0CA00;
}

.title {
    color: #619B42;
}

    .title.custom:after {
        background-color: #619B42;
    }

    .title.custom2:after {
        background-color: #F0CA00;
    }

.title-border.custom, .title-border.text-right.custom,
.title-border.text-center.custom > span {
    border-color: #619B42;
}

.title-bottom-border.custom {
    border-color: #619B42;
}

.title-border.title-bg.custom,
.title-bg-line.custom:after,
.bg-custom .title-border > span {
    background-color: #619B42;
}

.title-border.title-bg.custom2,
.title-bg-line.custom2:after,
.bg-custom2 .title-border > span {
    background-color: #F0CA00;
}

.featured-entry a:hover, .featured-entry a:focus {
    color: #619B42;
}

.fotorama__thumb-border {
    border-color: #619B42;
}

.info-boxes-container.custom {
    background-color: #619B42;
    border-color: #63bb67;
}

    .info-boxes-container.custom .info-box {
        border-color: #63bb67;
    }

@media (min-width: 768px) {
    .info-boxes-container.custom .info-box {
        border-color: #63bb67;
    }
}

.info-boxes-container.custom .info-box:nth-child(2n) {
    background-color: #46a149;
}

.info-boxes-container.custom .info-box-content {
    color: #a0d6a2;
}

.contact-info-area i {
    background-color: #619B42;
}

@media (min-width: 992px) {
    #fullpage-menu li.active a, #fullpage-menu li:hover a, #fullpage-menu li:focus a {
        color: #619B42;
    }

        #fullpage-menu li.active a:after, #fullpage-menu li:hover a:after, #fullpage-menu li:focus a:after {
            background-color: #619B42;
        }
}

.main-slide .main-slide-content h2 a:hover, .main-slide .main-slide-content h2 a:focus {
    color: #619B42;
}

.main-slide .main-slide-content .main-slide-tags a:hover, .main-slide .main-slide-content .main-slide-tags a:focus {
    color: #619B42;
}

.featured-entry-slider .owl-next:hover:after, .featured-entry-slider .owl-next:focus:after,
.featured-entry-slider .owl-prev:hover:after,
.featured-entry-slider .owl-prev:focus:after {
    background-color: #619B42;
}

.cause .cause-label {
    background-color: rgba(76, 175, 80, 0.8);
}

.cause .cause-title a:hover, .cause .cause-title a:focus {
    color: #619B42;
}

.slider-container-dentist {
    background-color: #619B42;
}

.event-count-container {
    background-color: #619B42;
}

.event-part h4 a:hover, .event-part h4 a:focus, .event-part h3 a:hover, .event-part h3 a:focus {
    color: #619B42;
}

.map-address-overlay .overlay-address .contact-info-area a:hover, .map-address-overlay .overlay-address .contact-info-area a:focus {
    color: #619B42;
}

.room .room-title a:hover, .room .room-title a:focus {
    color: #619B42;
}

.feature-row h2 a:hover, .feature-row h2 a:focus {
    color: #619B42;
}

.main-slide .main-slide-content h2 a:hover, .main-slide .main-slide-content h2 a:focus {
    color: #619B42;
}

.main-slide .main-slide-content .main-slide-tags a:hover, .main-slide .main-slide-content .main-slide-tags a:focus {
    color: #619B42;
}

.fancy-subtitle {
    color: #619B42;
}

.about-gallery-grid .gallery-grid-btn {
    background-color: #619B42;
}

    .about-gallery-grid .gallery-grid-btn:hover, .about-gallery-grid .gallery-grid-btn:focus {
        background-color: #449d48;
    }

.menu-item .menu-item-price {
    color: #619B42;
}

.menu-item a:hover, .menu-item a:focus {
    color: #619B42;
}

.menu-col-title {
    border-top-color: #619B42;
    border-color: #619B42;
}

.nav.nav-links > li.active > a {
    background-color: #619B42;
}

.main-top-slider .owl-next:hover, .main-top-slider .owl-next:focus,
.main-top-slider .owl-prev:hover,
.main-top-slider .owl-prev:focus {
    background-color: #619B42;
}

/******************************************************
Clases auxiliares
******************************************************/
.row .equals-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

    .row .equals-height > [class*='col-'] {
        display: flex;
        flex-direction: column;
        
    }
