﻿
@{
    ViewBag.Title = "Historia";
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}

@section breadcrumb
{
    <li><a>Nosotros</a></li>
    <li><a href="~/Nosotros/historia">Historia</a></li>
}

<article class="entry">
    <h2 class="title custom">HISTORIA</h2>
    <div class="entry-content">

        <p>En Fundación Azteca trabajamos constantemente para generar un escenario más positivo para las personas que así lo necesitan. Por eso, desde el 2004 Red Social Azteca representa una iniciativa que cumple el papel de un tejido que, mediante distintas acciones, fortalece a organizaciones de la sociedad civil.</p>
        <p>A lo largo de estos años, hemos impulsado campañas para entregar donativos a las organizaciones registradas en Red Social Azteca y brindarles un abrazo de esperanza y solidaridad, acercándonos a las personas que trabajan por un México mejor.</p>
        <blockquote class="blockquote-reverse">
            <p>A pesar de enfrentar enormes limitaciones, las organizaciones de la sociedad civil constituyen un impulso fundamental para lograr un verdadero cambio cultural. Las personas que integran estas instituciones merecen toda nuestra admiración y nuestro apoyo. Ellos creen apasionadamente en lo que hacen y luchan cotidianamente por sacar adelante a los seres humanos por quienes trabajan, con pleno compromiso y entrega</p>
            <cite>Ricardo Salinas Pliego --</cite>
        </blockquote>
        <div class="mb10"></div><!-- margen -->

    </div><!-- End .entry-content -->
    <div class="entry-media">
        <figure>
            <a href="https://placeholder.com"><img src="https://via.placeholder.com/800x400"></a>
        </figure>
        <div class="entry-meta">
            <span><i class="fa fa-info"></i>Ricardo Salinas Pliego </span>
        </div><!-- End .entry-media -->
    </div><!-- End .enty-media -->
</article>

