﻿
@{
    /**/

    ViewBag.Title = "Nosotros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header
{
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/jquery")
}

<div id="wrapper">
    <header class="header sticky-header">
        <div class="header-inner">
            <div class="container">
                <a href="/" class="site-logo" title="Red Social. FAZ">
                    <img src="@Href("~/Images/logo_faz.png")" alt="Red Social" class="faz">
                    <!--<span class="sr-only">Red Social</span>-->
                    <img src="@Href("~/Images/logo_rsa.png")" alt="Red Social" class="rsa">
                    <!--<span class="sr-only">Red Social</span>-->
                </a>
                <div class="header-info-boxes">

                    <div class="header-info-box">
                        <i class="fa fa-thumbs-up success"></i>
                        <div class="info-box-title">347,588</div>
                        <p>visitas</p>
                    </div><!-- End .header-info-box -->

                    @Html.Partial("_Login")
                </div><!-- End header-info-boxes -->
            </div><!-- End .container -->

        </div><!-- End .header-inner -->
        <div class="header-bottom">
            @Html.Partial("_Menu")

        </div><!-- End .header-bottom -->
    </header><!-- End .header -->

    <div id="nosotros" class="main">

        <page-header v-bind:title="title" image="@Href("~/images/header/head1.jpg")" v-bind:lists="breadcrumbs"></page-header>

        <div class="container">
            <div class="row">   
                <div class="col-md-9 col-md-push-3">
                    <div id="article"></div>
                </div><!-- End .col-md-9 -->
                <aside class="col-md-3 col-md-pull-9 sidebar">
                    <left-sidebar-menu title="NOSOTROS" v-bind:lists="items_menu"></left-sidebar-menu>
                </aside>
            </div><!-- end .row -->
        </div><!-- End .container -->
    </div><!-- End .main -->

    @Html.Partial("_FootGeneral")
</div><!-- End #wrapper -->

<a id="scroll-top" href="#top" title="Scroll top"><i class="fa fa-angle-up"></i></a>


@section scripts
{
    @Scripts.Render("~/bundles/scriptsvue-nosotros")

    @Scripts.Render("~/bundles/lightbox")
}

