﻿
@{
    ViewBag.Title = "Objetivos";
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}

@section breadcrumb
{
    <li><a>Nosotros</a></li>
    <li><a href="~/Nosotros/objetivos">Objetivos</a></li>
}
<article class="entry">
    <h2 class="title custom">OBJETIVOS</h2>
    <div class="row equals-height">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service service-box service-border custom">
                <img src="@Href("~/Images/home/nosotros/pilares/donativo.jpg")"  class="img-thumbnail hidden-xs img-circle" style="width: 10vw;height: 10vw" />
                <h3 class="service-title">Contacto</h3>
                <p class="text-center">Ser el puente de contacto entre una población vulnerable y aquellos que tienen el ánimo de ayudar.</p>
            </div><!-- End .service -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service service-box service-border custom2">
                <img src="https://scontent-atl3-1.cdninstagram.com/vp/341431cbf3cea2951623dc7e0e9cd8bb/5C9CDABF/t51.2885-15/e35/42178840_305917133566926_6233918546550499114_n.jpg?_nc_ht=scontent-atl3-1.cdninstagram.com"  class="img-thumbnail hidden-xs img-circle" style="width: 10vw;height: 10vw" />
                <h3 class="service-title">Vinculación</h3>
                <p class="text-center">Ser el canal de vinculación que potencialice estas acciones facilitando el contacto, la gestión y procesos de donativos.</p>
            </div><!-- End .service -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service service-box service-border custom3">
                <img src="https://images.pexels.com/photos/226618/pexels-photo-226618.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"  class="img-thumbnail hidden-xs img-circle" style="width: 10vw;height: 10vw" />
                <h3 class="service-title">Promover</h3>
                <p class="text-center">Promover la participación activa y permanente de la sociedad civil.</p>
            </div><!-- End .service -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service service-box service-border custom4">
                <img src="https://images.pexels.com/photos/872955/pexels-photo-872955.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"  class="img-thumbnail hidden-xs img-circle" style="width: 10vw;height: 10vw" />
                <h3 class="service-title">Sumar</h3>
                <p class="text-center">Sumar esfuerzos con Organizaciones Civiles del país, para generar un mayor impacto en los sectores público y privado, así como en la sociedad en general.</p>
            </div><!-- End .service -->
        </div><!-- End .col-md-4 -->
    </div><!-- End .row -->
</article>

