﻿
@{
    ViewBag.Title = "Pilares";
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}

@section breadcrumb
{
    <li><a>Nosotros</a></li>
    <li><a href="~/Nosotros/pilares">Pilares</a></li>
}

<article class="entry">
    <h2 class="title custom">PILARES</h2>
    <div class="row equals-height">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service service-box service-border custom">
                <img src="@Href("~/Images/home/nosotros/pilares/donativo.jpg")" alt="Alternate Text" class="img-thumbnail img-circle" />
                <h3 class="service-title">Donativos</h3>
                <p class="text-justify">Trabajamos constantemente en el proceso de gestión, recolección, clasificación, preparación, resguardo y distribución de donativos en especie, con la finalidad de beneficiar a las instituciones aliadas a Red Social Azteca.</p>

            </div><!-- End .service -->
            <button class="btn btn-success btn-block">CONOCE MÁS</button>
        </div><!-- End .col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service service-box service-border custom2">
                <img src="@Href("~/Images/home/nosotros/pilares/voluntariado.jpg")" alt="Alternate Text" class="img-thumbnail img-circle" />
                <h3 class="service-title">Voluntariado Azteca</h3>
                <p class="text-justify">Convencidos de la importancia de la solidaridad y el trabajo en equipo, Red Social Azteca busca promover una participación social consiente, fundamentada y enfocada por medio del Voluntariado Azteca, en beneficio de los sectores más necesitados de país.</p>

            </div><!-- End .service -->
            <button class="btn btn-warning btn-block">CONOCE MÁS</button>
        </div><!-- End .col-md-4 -->
        <div class="clearfix visible-sm"></div><!-- End .clearfix -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service service-box service-border custom3">
                <img src="@Href("~/Images/home/nosotros/pilares/organizaciones.jpg")" alt="Alternate Text" class="img-thumbnail img-circle" />
                <h3 class="service-title">Vinculación con Organizaciones Civiles</h3>
                <p class="text-justify">Fundación Azteca y Grupo Salinas apuestan por el empoderamiento y profesionalización de las organizaciones civiles que forman parte de Red Social Azteca.</p>
            </div><!-- End .service -->
            <button class="btn btn-danger btn-block">CONOCE MÁS</button>
        </div><!-- End .col-md-4 -->
    </div><!-- End .row -->
</article>
