﻿@{
    ViewBag.Title = "¿Quiénes Somos?";
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}

@section breadcrumb
{
    <li><a>Nosotros</a></li>
    <li><a href="~/Nosotros/quienes-somos">@ViewBag.Title</a></li>
}


<article class="entry">
    <h2 class="title custom">¿QUIÉNES SOMOS?</h2>
    <div class="entry-content">
        <blockquote>
            <p>Una red de apoyo para quienes más lo necesitan, porque ayudar, es cuestión de voluntad</p>
        </blockquote>
        <p class="text-justify" >En México existen cientos de organizaciones que se preocupan y ocupan en apoyar a los sectores más vulnerables de la sociedad. Por eso creemos que es imposible cerrar el corazón ante las carencias de los otros.
        Ayudar es algo que todos podemos poner en práctica, sólo se necesita voluntad. En equipo nos es posible mejorar la vida de muchas personas; la solidaridad y la generosidad sin duda, hacen la diferencia.<br />
        Las diferentes causas se basan en tres pilares que trabajan en conjunto:</p>
        <div class="mb10"></div><!-- margen -->
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-bookmark"></i>Donativos</li>
            <li><i class="fa-li fa fa-bookmark"></i>Voluntariado</li>
            <li><i class="fa-li fa fa-bookmark"></i>Vinculación con Organizaciones Civiles</li>
        </ul>
    </div><!-- End .entry-content -->
    <div class="entry-media">
        <figure>
            <img src="@Href("~/Images/home/nosotros/BANNERENCUENTRO-01-01.jpg")" alt="entry image" style="width: 100%; height: 100%">
        </figure>
        <div class="entry-meta">
            <span><i class="fa fa-info"></i>Red social azteca </span>
        </div><!-- End .entry-media -->
    </div><!-- End .enty-media -->
</article>