﻿
@{
    ViewBag.Title = "Conoce Más";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}


@section breadcrumb
{
    <li><a>Voluntariado</a></li>
    <li><a href="~/Nosotros/quienes-somos">@ViewBag.Title</a></li>
}

@section menu_left_bg
{
    <div class="widget">
        <h3 class="widget-title">VOLUNTARIADO</h3>
        <ul class="fa-ul">
            <li><a href="#"><i class="fa-li fa fa-chain"></i>CONOCE MÁS</a></li>
            <li><a href="~/Voluntariado/requisitos"><i class="fa-li fa fa-chain"></i>REQUISISTOS</a></li>
            <li><a href="~/Voluntariado/registro"><i class="fa-li fa fa-chain"></i>REGISTRO</a></li>
        </ul>
    </div><!-- end .widget -->
}

<article class="entry">
    <h2 class="title custom">¿QUÉ ES EL VOLUNTARIADO AZTECA?</h2>
    <div class="row">

        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
            <div class="entry-content">
                <p class="text-justify">
                    Convencidos de la importancia de la solidaridad y el trabajo en equipo, Red Social Azteca busca promover una participación social consiente, fundamentada y enfocada por medio del Voluntariado Azteca, en beneficio de los sectores más necesitados de país.
                </p>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="7000">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="@Href("~/Images/voluntariado/_1.jpg")" alt="Voluntariado 1">
                            <div class="carousel-caption">
                                Voluntariado 1
                            </div><!-- End .carousel-caption -->
                        </div><!-- End .item -->
                        <div class="item">
                            <img src="@Href("~/Images/voluntariado/_2.jpg")" alt="Voluntariado 2">
                            <div class="carousel-caption">
                                Voluntariado 2
                            </div><!-- End .carousel-caption -->
                        </div><!-- End .item -->
                        <div class="item">
                            <img src="@Href("~/Images/voluntariado/_3.jpg")" alt="Voluntariado 3">
                            <div class="carousel-caption">
                                Voluntariado 3
                            </div><!-- End .carousel-caption -->
                        </div><!-- End .item -->
                    </div><!-- End .carousel-inner -->
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                </div><!-- End .carousel -->
                <blockquote>
                    <p class="text-justify">El voluntariado es el trabajo no remunerado de agentes de cambio comprometidos en aportar, con acciones específicas, apoyo a diferentes causas sociales y ambientales en su comunidad.</p>
                </blockquote>


            </div><!-- End .entry-content -->
        </div>
    </div>
</article>

