﻿
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}


@section breadcrumb
{
    <li><a>Voluntariado</a></li>
    <li><a href="~/Nosotros/quienes-somos">@ViewBag.Title</a></li>
}

@section menu_left_bg
{
    <div class="widget">
        <h3 class="widget-title">VOLUNTARIADO</h3>
        <ul class="fa-ul">
            <li><a href="~/Voluntariado/conoce-mas"><i class="fa-li fa fa-chain"></i>CONOCE MÁS</a></li>
            <li><a href="~/Voluntariado/requisitos"><i class="fa-li fa fa-chain"></i>REQUISISTOS</a></li>
            <li><a href="#"><i class="fa-li fa fa-chain"></i>REGISTRO</a></li>
        </ul>
    </div><!-- end .widget -->
}

<form class="cmxform" id="frm_registro_voluntariado" method="get" action="">
    <article class="entry">
        <h2 class="title custom">
            <span class="light">SI ESTAS INTERESADO POR FAVOR LLENA EL SIGUIENTE </span> FORMUALRIO.
        </h2>

        <div class="row">
            <div class="col-md-6 col-xs-12 col-lg-6 col-sm-6">
                <label class="input-desc">Nombre</label>
                <input class="form-control input-sm" type="text" required placeholder="Nombre" name="Nombre">
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label class="input-desc">Nacionalidad</label>
                        <input class="form-control input-sm " type="text" required placeholder="Nacionalidad" name="Nacionalidad">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label class="input-desc">Edad</label>
                        <input class="form-control input-sm" type="number" required placeholder="Edad" name="Edad">
                    </div>
                </div>


            </div>
            <div class="col-md-6 col-xs-12 col-lg-6 col-sm-6">
                <label class="input-desc">E-mail</label>
                <input class="form-control input-sm email" type="email" required placeholder="E-mail" name="E-mail">
                <label class="input-desc">Teléfono (s)</label>
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input class="form-control input-sm" type="number" required placeholder="Casa" name="Casa">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input class="form-control input-sm" type="number" required placeholder="Celular" name="Celular">
                    </div>
                </div>
            </div>

        </div>

        <label class="title">Favor de terminar con el llenado de tu información. </label>
        <div class="row">
            <div class="col-md-6 col-xs-12 col-lg-6 col-sm-12">
                <label class="input-desc">¿Cuál es tu principal motivación para querer ser Voluntaria? </label>
                <input class="form-control input-sm" type="text" required placeholder="" name="motivacion">
                <label class="input-desc">¿Cuál es tu principal fortaleza y en la que crees que podrías apoyarnos?</label>
                <input class="form-control input-sm" type="text" required placeholder="" name="fortaleza">
                <label class="input-desc">Menciona 3 formas en las que puedes brindar tu apoyo</label>
                <ol class="fa-ul">
                    <li> <i class="fa-li fa fa-check-square-o"></i> <input class="form-control input-sm" required type="text" placeholder="" name="opinion1"></li>
                    <li> <i class="fa-li fa fa-check-square-o"></i> <input class="form-control input-sm" required type="text" placeholder="" name="opinion2"></li>
                    <li> <i class="fa-li fa fa-check-square-o"></i> <input class="form-control input-sm" required type="text" placeholder="" name="opinion3"></li>
                </ol>
                <label class="input-desc">¿Cómo reaccionas ante las dificultades de los demás?</label>
                <input class="form-control input-sm" type="text" required placeholder="" name="reaccion">
            </div>
            <div class="col-md-6 col-xs-12 col-lg-6 col-sm-12">


                <label class="input-desc">¿De cuánto tiempo dispones a la semana?</label>
                <input class="form-control input-sm" type="text" required placeholder="" name="tiempo">


                <label class="input-desc">¿Cuáles serían la población y problemática que te gustaría atender?</label>
                <input class="form-control input-sm" type="text" required placeholder="" name="gusto">

                <label class="input-desc">¿Cuál sería tu forma de obtener donativos en especie o efectivo?</label>
                <input class="form-control input-sm" type="text" required placeholder="" name="obtener">

                <label class="input-desc">¿Qué propondrías para involucrar a tu comunidad ante las necesidades y carencias de sectores vulnerables? </label>
                <input class="form-control input-sm" type="text" required placeholder="" name="involucrar">

                <div class="mt45"> </div>

                <input class="submit btn  btn-custom btn-block" type="submit" value="ENVIAR">
            </div>

            <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">

                <blockquote class="blockquote-reverse">
                    <p>Te felicito por no ignorar el valor que nos distingue como seres humanos: la generosidad y que, pese a los tiempos difíciles que enfrentamos, busques siempre opciones para servir a tu comunidad, convirtiéndote con ello en una mejor versión de ti mismo.</p>
                    <cite>¡Pronto estaremos en comunicación contigo!</cite>
                </blockquote>

            </div>
        </div>

    </article>
</form>

