﻿
@{
    ViewBag.Title = "Requisitos";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}


@section breadcrumb
{
    <li><a>Voluntariado</a></li>
    <li><a href="~/Nosotros/quienes-somos">@ViewBag.Title</a></li>
}

@section menu_left_bg
{
    <div class="widget">
        <h3 class="widget-title">VOLUNTARIADO</h3>
        <ul class="fa-ul">
            <li><a href="~/Voluntariado/conoce-mas"><i class="fa-li fa fa-chain"></i>CONOCE MÁS</a></li>
            <li><a href="#"><i class="fa-li fa fa-chain"></i>REQUISISTOS</a></li>
            <li><a href="~/Voluntariado/registro"><i class="fa-li fa fa-chain"></i>REGISTRO</a></li>
        </ul>
    </div><!-- end .widget -->
}

<article class="entry">
    <h2 class="title custom">REQUISITOS </h2>
    <div class="container overflow-hidden">
        <div class="mt20 mb25 mb10-sm"></div><!-- margin -->
        <div class="row">
            <div class="col-md-4 hidden-sm hidden-xs">
                <img src="https://cooperaong.org/wp-content/uploads/2015/12/icono-voluntariado.png" alt="Voluntaria" class="img-responsive center-block vertial-phone-img wow fadeInUp">
            </div><!-- End .col-md-4 -->
            <div class="col-md-8 col-sm-12 col-lg-8 col-xs-12">
                <div class="service icon-left">
                    <i class="fa fa-map icon-bar custom wow zoomIn"></i>
                    <h3 class="service-title">Vivir en la Ciudad de México.</h3>
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni dignissimos rem semsila eaque, rem.</p>-->
                </div><!-- End .service -->
                <div class="service icon-left">
                    <i class="fa fa-check icon-bar custom wow zoomIn" data-wow-delay="0.1s"></i>
                    <h3 class="service-title">Ser mayor de edad.</h3>
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni dignissimos rem semsila eaque, rem.</p>-->
                </div><!-- End .service -->
                <div class="service icon-left">
                    <i class="fa fa-heart icon-bar custom wow zoomIn" data-wow-delay="0.2s"></i>
                    <h3 class="service-title"> Capacidad de convivencia y trabajo en equipo.</h3>
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni dignissimos rem semsila eaque, rem.</p>-->
                </div><!-- End .service -->
                <div class="service icon-left">
                    <i class="fa fa-users icon-bar custom wow zoomIn" data-wow-delay=0.3s></i>
                    <h3 class="service-title">Sexo indistinto</h3>
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni dignissimos rem semsila eaque, rem.</p>-->
                </div><!-- End .service -->
                <div class="service icon-left">
                    <i class="fa fa-stethoscope icon-bar custom wow zoomIn" data-wow-delay=0.3s></i>
                    <h3 class="service-title">Certificado de salud.</h3>
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni dignissimos rem semsila eaque, rem.</p>-->
                </div><!-- End .service -->
                <div class="service icon-left">
                    <i class="fa fa-clock-o icon-bar custom wow zoomIn" data-wow-delay=0.3s></i>
                    <h3 class="service-title">Disponibilidad de horario jueves 09:00 a 14:00 h.</h3>
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni dignissimos rem semsila eaque, rem.</p>-->
                </div><!-- End .service -->
            </div><!-- End .col-md-4 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</article>

