﻿<style type="text/css">
    .adj {
        object-fit: scale-down;
        height: 50vh;
        width: 100%;
    }

    .item_carrusel {
        height: 20vw;
        background: url('https://via.placeholder.com/500x200') no-repeat center center;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
    }
</style>
<div class="bg-lightgray border pt30 pb40">
    <div class="container">
        <header class="title-block mb30">
            <h2 class="title custom text-uppercase mb15">ACCIONES DE VOLUNTARIADO AZTECA</h2>
        </header>

        <div class="row">
            <div id="seccionAccionesVoluntariado" class="col-lg-8 col-md-8 col-sm-12">
                <article class="entry entry-grid" v-for="accion in accionesVoluntariado">
                    <div class="entry-media">
                        <figure id="blog-post-gallery" class="carousel slide" data-ride="carousel" data-interval="10000">
                            <div class="carousel-inner">
                                <template id="item">
                                    <div v-bind:class="cssItem(index)" v-for="(item, index) in modelImagesAccionesVoluntariado" v-bind:style="{ 'background': 'url(' + '@Href("~/Images/galerias/_")'+item.IdGaleria+'/'+'_'+item.IdImagen+(item.TipoImagen==null?'.png':item.TipoImagen) + ') no-repeat center center ', 'background-size':  'cover' }">
                                    </div><!-- End .item -->
                                </template>

                            </div><!-- End .carousel-inner -->
                            <!-- Controls -->
                            <a class="left carousel-control" href="#blog-post-gallery" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                            <a class="right carousel-control" href="#blog-post-gallery" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                        </figure><!-- End .carousel -->
                        <div class="entry-meta">
                            <span><i class="fa fa-calendar"></i>25 Jul, 2016</span>
                        </div><!-- End .entry-meta -->
                    </div><!-- End .entry-media -->
                    <h2 class="entry-title"><i class="fa fa-check"></i><a href="#">{{accion.TituloGaleria}}</a></h2>
                    <div class="entry-content">
                        <p class="text-justify">{{accion.Descripcion}}</p>
                    </div><!-- End .entry-content -->
                </article>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <article class="entry entry-grid">
                    <div role="tabpanel">
                        <!-- Tab Panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="twitter">
                                <a class="twitter-timeline" data-lang="es" data-height="350" data-theme="light" data-chrome="nofooter" data-aria-polite="assertive" href="https://twitter.com/TeamRSA1?ref_src=twsrc%5Etfw">Tweets by TeamRSA1</a>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div><!-- End .tab-pane -->
                            <div role="tabpanel" class="tab-pane" id="facebook">
                                <div class="fb-page" data-href="https://es-la.facebook.com/GrupoSalinasGS" data-tabs="timeline" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://es-la.facebook.com/GrupoSalinasGS" class="fb-xfbml-parse-ignore"><a href="https://es-la.facebook.com/GrupoSalinasGS">Grupo Salinas</a></blockquote></div>
                            </div><!-- End .tab-pane -->
                        </div><!-- End .tab-content -->
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#twitter" aria-controls="description2" role="tab" data-toggle="tab" aria-expanded="true">Twitter</a></li>
                            <li role="presentation" class=""><a href="#facebook" aria-controls="options2" role="tab" data-toggle="tab" aria-expanded="false">Facebook</a></li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </div><!-- End .container -->
    <div id="fb-root"></div>
    <script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.2';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</div>

