﻿<div class="bg-lightgray border pt30 pb40">
    <div class="container">
        <header class="title-block mb30">
            <h2 class="title custom mb15">ACCIONES DE RSAz</h2>
        </header>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <article class="entry entry-grid">
                    <div class="entry-media">
                        <figure id="blog-post-gallery" class="carousel slide" data-ride="carousel" data-interval="10000">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <a href="#"><img src="https://via.placeholder.com/500x200" alt="Titulo de la imagen"></a>
                                </div><!-- End .item -->
                                <div class="item">
                                    <a href="#"><img src="https://via.placeholder.com/500x200" alt="Titulo de la imagen"></a>
                                </div><!-- End .item -->
                            </div><!-- End .carousel-inner -->
                            <!-- Controls -->
                            <a class="left carousel-control" href="#blog-post-gallery" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                            <a class="right carousel-control" href="#blog-post-gallery" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                        </figure><!-- End .carousel -->
                        <div class="entry-meta">
                            <span><i class="fa fa-calendar"></i>25 Jul, 2016</span>
                        </div><!-- End .entry-meta -->
                    </div><!-- End .entry-media -->
                    <h2 class="entry-title"><i class="fa fa-check"></i><a href="#">Sonidos de un sueño</a></h2>
                    <div class="entry-content">
                        <span class="text-justify">Convencidos de la importancia de la solidaridad y el trabajo en equipo, Red Social Azteca busca promover una participación social consiente, fundamentada y enfocada por medio del Voluntariado Azteca, en beneficio de los sectores más necesitados de país.</span>
                    </div><!-- End .entry-content -->
                </article>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <article class="entry entry-grid">

                </article>
            </div>
        </div>
    </div><!-- End .container -->
    
</div>