﻿<div class="container">
    <h2 class="title text-center custom"><span class="light">ALIANZAS ESTRATEGICAS EN </span> RED SOCIAL AZTECA</h2>
    <div class="organizaciones_rsa owl-carousel">
        <a href="#" class="client" title="Partner name">
            <img src="http://via.placeholder.com/350x200" alt="Organizacion 1">
        </a>
        <a href="#" class="client" title="Partner name">
            <img src="http://via.placeholder.com/350x200" alt="Organizacion 2">
        </a>
        <a href="#" class="client" title="Partner name">
            <img src="http://via.placeholder.com/350x200" alt="Organizacion 3">
        </a>
        <a href="#" class="client" title="Partner name">
            <img src="http://via.placeholder.com/350x200" alt="Organizacion 4">
        </a>
        <a href="#" class="client" title="Partner name">
            <img src="http://via.placeholder.com/350x200" alt="Organizacion 5">
        </a>
        <a href="#" class="client" title="Partner name">
            <img src="http://via.placeholder.com/350x200" alt="Organizacion 6">
        </a>
    </div><!-- End .clients-carousel -->
</div><!-- End .container -->
