﻿<div id="nuestras_causas" name="nuestras_causas" class="container">
    <header class="title-block text-center">
        <h2 class="title text-center custom"><span class="light">NUESTRAS</span> CAUSAS</h2>
        <p>¿Quieres saber cómo se lleva a cabo la administración de los recursos que llegan a Red Social Azteca?.</p>
    </header>
    <div class="owl-carousel causas_faz">
        <article class="entry entry-grid">
            <div class="entry-media">
                <figure>
                    <a href="#" data-toggle="modal" data-target="#causa"><img src="/images/home/index/causas/carrusel/canasta_corazon.png" alt="CANASTA CON CORAZÓN"></a>
                </figure>
                <div class="entry-meta">
                    <span><i class="fa fa-calendar"></i>Febrero a Abril </span>
                </div><!-- End .entry-media -->
            </div><!-- End .entry-media -->
            <h2 class="entry-title"><i class="fa fa-info"></i><a href="canasta_con_corazon.html">CANASTA CON CORAZÓN.</a></h2>
            <div class="entry-content">
                <p class="ellipsis">Como muestra de solidaridad, amor y respeto, esta campaña consiste en realizar una colecta de alimentos no perecederos y artículos de higiene personal, para proveer de despensas que se distribuyen en asilos, centros de día, albergues y comedores comunitarios que atienden a adultos mayores, infantes y personas en situación de abandono o calle.</p>
                <a href="#" class="readmore" data-toggle="modal" data-target="#causa">Leer m&aacute;s<i class="fa fa-angle-right"></i></a>
            </div><!-- End .entry-content -->
        </article>

        <article class="entry entry-grid">
            <div class="entry-media">
                <figure>
                    <a href="#" data-toggle="modal" data-target="#causa"><img src="/images/home/index/causas/carrusel/deja_huella.png" alt="Deja tu Huella"></a>
                </figure>
                <div class="entry-meta">
                    <span><i class="fa fa-calendar"></i>Mayo a Julio</span>
                </div><!-- End .entry-media -->
            </div><!-- End .entry-media -->
            <h2 class="entry-title"><i class="fa fa-info"></i><a href="deja_tu_huella.html">DEJA TU HUELLA.</a></h2>
            <div class="entry-content">
                <p class="ellipsis">Campaña dirigida exclusivamente a perros y cachorros que se encuentran en situación de abandono, desamparo o en proceso de adopción. Los donativos reunidos en alimento, artículos de higiene y accesorios, se distribuyen entre asociaciones protectoras dedicadas al refugio y cuidado de estos amorosos seres de compañía.</p>
                <a href="#" class="readmore">Leer m&aacute;s<i class="fa fa-angle-right"></i></a>
            </div><!-- End .entry-content -->
        </article>

        <article class="entry entry-grid">
            <div class="entry-media">
                <figure>
                    <a href="#" data-toggle="modal" data-target="#causa"><img src="/images/home/index/causas/carrusel/regreso_clases.png" alt="Titulo de la imagen"></a>
                </figure>
                <div class="entry-meta">
                    <span><i class="fa fa-calendar"></i>Agosto a Octubre</span>
                </div><!-- End .entry-media -->
            </div><!-- End .entry-media -->
            <h2 class="entry-title"><i class="fa fa-info"></i><a href="regre_clases.html">REGRESO A CLASES.</a></h2>
            <div class="entry-content">
                <p class="ellipsis">Contribuimos con organizaciones dedicadas a la educación, rehabilitación y formación de personas en situación vulnerable, invitando a los agentes de cambio a apoyar esta colecta con libros, útiles y material escolar y/o didáctico, que ayudarán a facilitar la labor de aprendizaje y formación de infantes, adolescentes y adultos, que requieren este apoyo.</p>
                <a href="#" class="readmore">Leer m&aacute;s<i class="fa fa-angle-right"></i></a>
            </div><!-- End .entry-content -->
        </article>

        <article class="entry entry-grid">
            <div class="entry-media">
                <figure>
                    <a href="#" data-toggle="modal" data-target="#causa"><img src="/images/home/index/causas/carrusel/tejiendo_mexico.png" alt="TEJIENDO POR MÉXICO"></a>
                </figure>
                <div class="entry-meta">
                    <span><i class="fa fa-calendar"></i>Noviembre a Enero </span>
                </div><!-- End .entry-media -->
            </div><!-- End .entry-media -->
            <h2 class="entry-title"><i class="fa fa-info"></i><a href="canasta_con_corazon.html">TEJIENDO POR MÉXICO.</a></h2>
            <div class="entry-content">
                <p class="ellipsis">Nace de la necesidad de ayudar a quienes que vive en zonas del territorio nacional, en donde las bajas temperaturas se convierten en un factor de riesgo para su salud y contraer enfermedades respiratorias.</p>
                <a href="#" class="readmore">Leer m&aacute;s<i class="fa fa-angle-right"></i></a>
            </div><!-- End .entry-content -->
        </article>


    </div><!-- latest-posts-carousel -->
</div><!-- End .container -->