﻿<div id="rev_slider_wrapper" class="slider-container-index rev_slider_wrapper rev_container_1 fullwidthbanner-container" data-alias="classicslider1">
    <div id="rev_slider" class="rev_slider fullwidthabanner" style="display:none;">
        <ul  >
            <li v-for="(slide, index) in avisos "  v-bind:data-index="'rs-'+(index+1) " data-transition="fade" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1200" v-bind:data-rotate="index"  data-saveperformance="off" data-title="Success">
                <!-- MAIN IMAGE -->
                <img v-bind:src="'@Href("~/Images/avisos/")'+slide.NombreImagen" alt="Campaña 1" data-bgposition="center center" data-bgfit="cover" data-duration="11000" data-bgparallax="10" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- overlay -->
                <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['center','center','center','center']" data-voffset="['0','0','0','0']"
                     data-width="full"
                     data-height="full"
                     data-whitespace="nowrap"
                     data-transform_idle="o:0.5;"
                     data-transform_in="opacity:0;s:1500;"
                     data-transform_out="o:0;s:1000;"
                     data-start="1000"
                     data-basealign="slide"
                     data-responsive_offset="on"
                     data-responsive="off"
                     style="z-index: 3; background-color: #469730">
                </div>
                <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['center','center','center','center']" data-voffset="['-81','-71','-65','-60']"
                     data-fontsize="['17','15','14','12']"
                     data-fontweight="400"
                     data-lineheight="['20','18','16','16']"
                     data-color="#fff"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-frames='[{"delay":1400,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-responsive_offset="on"
                     data-elementdelay="0"
                     style="z-index: 5; white-space: nowrap; letter-spacing: 3px; text-transform: uppercase;">
                    {{slide.Titulo}}
                </div>
                <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['center','center','center','center']" data-voffset="['-26','-22','-20','-21']"
                     data-fontsize="['64','56','48','38']"
                     data-fontweight="700"
                     data-lineheight="['70','64','60','46']"
                     data-color="#fff"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-frames='[{"delay":1800,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-responsive_offset="on"
                     style="z-index: 6; text-shadow:0 1px 3px rgba(0,0,0, 0.2); letter-spacing: 1.5px; text-transform: uppercase;">
                     {{slide.SubTitulo}}
                </div>
                <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['center','center','center','center']" data-voffset="['32','31','29','20']"
                     data-width="none"
                     data-height="none"
                     data-fontsize="['24','20','18','14']"
                     data-fontweight="400"
                     data-lineheight="['30','24','22','20']"
                     data-visibility="['on', 'on', 'on', 'off']"
                     data-color="#fff"
                     data-whitespace="nowrap"
                     data-frames='[{"delay":2200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-responsive_offset="on"
                     style="z-index: 7; text-shadow:0 1px 1px rgba(0,0,0, 0.1); letter-spacing: 2px; text-transform: uppercase;">
                    {{slide.MensajeAlter}}
                </div>
                <a class="tp-caption btn btn-lg btn-custom min-width tp-resizeme rs-parallaxlevel-0"
                   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                   data-y="['center','center','center','center']" data-voffset="['97','91','80','70']"
                   data-witdh="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-frames='[{"delay":2600,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                   data-responsive_offset="on"
                   style="z-index: 8;"
                   v-bind:href="slide.UrlAccion">
                    REGISTRO
                </a>
            </li>


            @*<!-- SLIDE  1 -->
        <li data-index="rs-1" data-transition="fade" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1200" data-rotate="0" data-thumb="@Href("~/Images/carrusel_campanas/c_1.JPG")" data-saveperformance="off" data-title="Success">
            <!-- MAIN IMAGE -->
            <img src="@Href("~/Images/carrusel_campanas/c_1.JPG")" alt="Campaña 1" data-bgposition="center center" data-bgfit="cover" data-duration="11000" data-bgparallax="10" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>
            <!-- LAYERS -->
            <!-- overlay -->
            <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['center','center','center','center']" data-voffset="['0','0','0','0']"
                 data-width="full"
                 data-height="full"
                 data-whitespace="nowrap"
                 data-transform_idle="o:0.5;"
                 data-transform_in="opacity:0;s:1500;"
                 data-transform_out="o:0;s:1000;"
                 data-start="1000"
                 data-basealign="slide"
                 data-responsive_offset="on"
                 data-responsive="off"
                 style="z-index: 3; background-color: #469730">
            </div>
            <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['center','center','center','center']" data-voffset="['-81','-71','-65','-60']"
                 data-fontsize="['17','15','14','12']"
                 data-fontweight="400"
                 data-lineheight="['20','18','16','16']"
                 data-color="#fff"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-frames='[{"delay":1400,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                 data-responsive_offset="on"
                 data-elementdelay="0"
                 style="z-index: 5; white-space: nowrap; letter-spacing: 3px; text-transform: uppercase;">
                III SEGUNDO ENCUENTRO DE
            </div>
            <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['center','center','center','center']" data-voffset="['-26','-22','-20','-21']"
                 data-fontsize="['64','56','48','38']"
                 data-fontweight="700"
                 data-lineheight="['70','64','60','46']"
                 data-color="#fff"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-frames='[{"delay":1800,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                 data-responsive_offset="on"
                 style="z-index: 6; text-shadow:0 1px 3px rgba(0,0,0, 0.2); letter-spacing: 1.5px; text-transform: uppercase;">
                ORGANIZACIONES CIVILES
            </div>
            <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['center','center','center','center']" data-voffset="['32','31','29','20']"
                 data-width="none"
                 data-height="none"
                 data-fontsize="['24','20','18','14']"
                 data-fontweight="400"
                 data-lineheight="['30','24','22','20']"
                 data-visibility="['on', 'on', 'on', 'off']"
                 data-color="#fff"
                 data-whitespace="nowrap"
                 data-frames='[{"delay":2200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                 data-responsive_offset="on"
                 style="z-index: 7; text-shadow:0 1px 1px rgba(0,0,0, 0.1); letter-spacing: 2px; text-transform: uppercase;">
                TE ESPERAMOS!
            </div>
            <a class="tp-caption btn btn-lg btn-custom min-width tp-resizeme rs-parallaxlevel-0"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['center','center','center','center']" data-voffset="['97','91','80','70']"
               data-witdh="none"
               data-height="none"
               data-whitespace="nowrap"
               data-frames='[{"delay":2600,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
               data-responsive_offset="on"
               style="z-index: 8;"
               href="#">
                REGISTRO
            </a>
        </li>

        <!-- SLIDE  2 -->
        <li data-index="rs-2" data-transition="fade" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1200" data-rotate="0" data-thumb="@Href("~/Images/carrusel_campanas/c_2.JPG")" data-saveperformance="off" data-title="Imagination">
            <!-- MAIN IMAGE -->
            <img src="@Href("~/Images/carrusel_campanas/c_2.JPG")" alt="Campaña 2" data-bgposition="center center" data-bgfit="cover" data-duration="11000" data-bgparallax="10" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>
            <!-- LAYERS -->
            <!-- overlay -->
            <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['center','center','center','center']" data-voffset="['0','0','0','0']"
                 data-width="full"
                 data-height="full"
                 data-whitespace="nowrap"
                 data-transform_idle="o:0.5;"
                 data-transform_in="opacity:0;s:1500;"
                 data-transform_out="o:0;s:1000;"
                 data-start="1000"
                 data-basealign="slide"
                 data-responsive_offset="on"
                 data-responsive="off"
                 style="z-index: 3; background-color: #EDBC00">
            </div>
            <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['center','center','center','center']" data-voffset="['-81','-71','-65','-60']"
                 data-fontsize="['17','15','14','12']"
                 data-fontweight="400"
                 data-lineheight="['20','18','16','16']"
                 data-color="#fff"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-frames='[{"delay":1400,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                 data-responsive_offset="on"
                 data-elementdelay="0"
                 style="z-index: 5; white-space: nowrap; letter-spacing: 3px; text-transform: uppercase;">
                Apoya con
            </div>
            <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['center','center','center','center']" data-voffset="['-26','-22','-20','-21']"
                 data-fontsize="['64','56','48','38']"
                 data-fontweight="700"
                 data-lineheight="['70','64','60','46']"
                 data-color="#fff"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-frames='[{"delay":1800,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                 data-responsive_offset="on"
                 style="z-index: 6; text-shadow:0 1px 3px rgba(0,0,0, 0.2); letter-spacing: 1.5px; text-transform: uppercase;">
                Donativo Hormiga
            </div>
            <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['center','center','center','center']" data-voffset="['32','31','29','20']"
                 data-width="none"
                 data-height="none"
                 data-fontsize="['24','20','18','14']"
                 data-fontweight="400"
                 data-lineheight="['30','24','22','20']"
                 data-visibility="['on', 'on', 'on', 'off']"
                 data-color="#fff"
                 data-whitespace="nowrap"
                 data-frames='[{"delay":2200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                 data-responsive_offset="on"
                 style="z-index: 7; text-shadow:0 1px 1px rgba(0,0,0, 0.1); letter-spacing: 2px; text-transform: uppercase;">
                Más de 900 instituciones registradas en Red Social Azteca!
            </div>
            <a class="tp-caption btn btn-lg btn-custom2 min-width tp-resizeme rs-parallaxlevel-0"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['center','center','center','center']" data-voffset="['97','91','80','70']"
               data-witdh="none"
               data-height="none"
               data-whitespace="nowrap"
               data-frames='[{"delay":2600,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
               data-responsive_offset="on"
               style="z-index: 8;"
               href="#">
                MAS INFO
            </a>
        </li>
        <!-- SLIDE  3-->
        <li data-index="rs-3" data-transition="fade" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1200" data-rotate="0" data-thumb="@Href("~/Images/carrusel_campanas/ejemplo.gif")" data-saveperformance="off" data-title="Imagination">
            <!-- MAIN IMAGE -->
            <img src="@Href("~/Images/carrusel_campanas/ejemplo.gif")" alt="Campaña 2" data-bgposition="center center" data-bgfit="cover" data-duration="11000" data-bgparallax="10" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>
            <!-- LAYERS -->
            <!-- overlay -->
            <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['center','center','center','center']" data-voffset="['0','0','0','0']"
                 data-width="full"
                 data-height="full"
                 data-whitespace="nowrap"
                 data-transform_idle="o:0.5;"
                 data-transform_in="opacity:0;s:1500;"
                 data-transform_out="o:0;s:1000;"
                 data-start="1000"
                 data-basealign="slide"
                 data-responsive_offset="on"
                 data-responsive="off"
                 style="z-index: 3; background-color: #357BAB">
            </div>
            <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['center','center','center','center']" data-voffset="['-81','-71','-65','-60']"
                 data-fontsize="['17','15','14','12']"
                 data-fontweight="400"
                 data-lineheight="['20','18','16','16']"
                 data-color="#fff"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-frames='[{"delay":1400,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                 data-responsive_offset="on"
                 data-elementdelay="0"
                 style="z-index: 5; white-space: nowrap; letter-spacing: 3px; text-transform: uppercase;">
                Campaña 3
            </div>
            <div class="tp-caption tp-resizeme rs-parallaxlevel-0 "
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['center','center','center','center']" data-voffset="['-26','-22','-20','-21']"
                 data-fontsize="['64','56','48','38']"
                 data-fontweight="700"
                 data-lineheight="['70','64','60','46']"
                 data-color="#fff"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-frames='[{"delay":1800,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                 data-responsive_offset="on"
                 style="z-index: 6; text-shadow:0 1px 3px rgba(0,0,0, 0.2); letter-spacing: 1.5px; text-transform: uppercase;">
                Premio de Responsabilidad Social
            </div>

        </li>
        <!-- SLIDE  4-->
        <li data-index="rs-4" data-transition="fade" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1200" data-rotate="0" data-thumb="@Href("~/Images/carrusel_campanas/c_4.JPG")" data-saveperformance="off" data-title="Imagination">
            <!-- MAIN IMAGE -->
            <img src="@Href("~/Images/carrusel_campanas/c_4.JPG")" alt="Campaña 2" data-bgposition="center center" data-bgfit="cover" data-duration="11000" data-bgparallax="10" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>
            <!-- LAYERS -->
            <!-- overlay -->
            <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['center','center','center','center']" data-voffset="['0','0','0','0']"
                 data-width="full"
                 data-height="full"
                 data-whitespace="nowrap"
                 data-transform_idle="o:0.5;"
                 data-transform_in="opacity:0;s:1500;"
                 data-transform_out="o:0;s:1000;"
                 data-start="1000"
                 data-basealign="slide"
                 data-responsive_offset="on"
                 data-responsive="off"
                 style="z-index: 3; background-color: #D12C18">
            </div>
            <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['center','center','center','center']" data-voffset="['-81','-71','-65','-60']"
                 data-fontsize="['17','15','14','12']"
                 data-fontweight="400"
                 data-lineheight="['20','18','16','16']"
                 data-color="#fff"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-frames='[{"delay":1400,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                 data-responsive_offset="on"
                 data-elementdelay="0"
                 style="z-index: 5; white-space: nowrap; letter-spacing: 3px; text-transform: uppercase;">
                Campaña 4
            </div>
            <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['center','center','center','center']" data-voffset="['-26','-22','-20','-21']"
                 data-fontsize="['64','56','48','38']"
                 data-fontweight="700"
                 data-lineheight="['70','64','60','46']"
                 data-color="#fff"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-frames='[{"delay":1800,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                 data-responsive_offset="on"
                 style="z-index: 6; text-shadow:0 1px 3px rgba(0,0,0, 0.2); letter-spacing: 1.5px; text-transform: uppercase;">
                Venta con Causa
            </div>

        </li>*@
        </ul>
        <div class="tp-bannertimer tp-bottom" style="height: 4px; background-color: rgba(255, 255, 255, 0.35);"></div>
    </div><!-- End #rev_slider -->
</div><!-- END REVOLUTION SLIDER -->
