﻿@{
    ViewBag.Title = "Home";
}

@section header
{
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/jquery")
}

<div id="wrapper">
    @Html.Partial("_HeaderPublic")
    @*<header class="header sticky-header">
        <div class="header-inner">
            <div class="container">
                <a href="index.html" class="site-logo" title="Red Social. FAZ">
                    <img src="@Href("~/Images/logo_faz.png")" alt="Red Social" class="faz">
                    <!--<span class="sr-only">Red Social</span>-->
                    <img src="@Href("~/Images/logo_rsa.png")" alt="Red Social" class="rsa">
                    <!--<span class="sr-only">Red Social</span>-->
                </a>
                <div class="header-info-boxes">

                    <div class="header-info-box">
                        <i class="fa fa-thumbs-up success"></i>
                        <div class="info-box-title">347,588</div>
                        <p>visitas</p>
                    </div><!-- End .header-info-box -->

                    @Html.Partial("_Login")
                </div><!-- End header-info-boxes -->
            </div><!-- End .container -->
        </div><!-- End .header-inner -->
        <div class="header-bottom">
            @Html.Partial("_Menu")

        </div><!-- End .header-bottom -->
    </header><!-- End .header -->*@

    <div class="main">
        @Html.Partial("_Slider")
        <div class="mb30 mb20-sm mb10-xs"></div><!-- margen -->
        @Html.Partial("_Causas")
        <div class="mb50"></div><!-- margen -->
        @Html.Partial("_Galerias")
        @Html.Partial("_Acciones1")
        <div class="mb50"></div><!-- margen -->
        @Html.Partial("_Acciones2")
        <div class="mb50"></div><!-- margen -->
        @Html.Partial("_Alianzas")
        <div class="mb50"></div><!-- margen -->
    </div><!-- End .main -->

    @Html.Partial("_FootGeneral")
</div><!-- End #wrapper -->

<!-- Modal Causas Previo-->
<div class="modal fade " id="causa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title"> ENCUENTRO DE ORGANIZACIONES CIVILES</h3>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-5">
                        <h2 class="title custom mb25">
                            <img src="/images/home/index/causas/tejiendo_mexico.png" style="width: 40%" />
                        </h2>
                        <p>
                            <b>Publicación de Convocatoria:</b> Marzo, 2017 <br />
                            <b>Vigencia:</b>29 de Marzo al 15 de Mayo, 2017<br />
                            <b>Evento:</b>17 de mayo, 2017
                        </p>

                        <p class="text-justify">Fundación Azteca de Grupo Salinas apuesta por empoderar el capital humano de las organizaciones civiles registradas en Red Social Azteca, a través de pláticas y talleres sobre nuevas estrategias que fortalezcan sus causas, creen habilidades de liderazgo y procuren mejoras en la gestión de sus programas.</p>
                        <br />
                        <p class="text-justify">Necesitamos juntos accionar la transformación de fondo, ir más allá del asistencialismo, procurar medios y herramientas nuevas a otras organizaciones para que puedan mejorar por sí mismos sus condiciones. Urge promover la participación social consciente, fundamentada y enfocada en beneficio de los sectores más necesitados de México.</p>
                    </div><!-- End .col-md-5 -->
                    <div class="clearfix mb25 visible-xs visible-sm"></div><!-- margin -->
                    <div class="col-md-7">
                        <div class="causas_modal owl-carousel">
                            <img src="/images/home/index/causas/detalles/d1.jpg" alt="Causa 1">
                            <img src="/images/home/index/causas/detalles/d2.jpg" alt="Causa 2">
                            <img src="/images/home/index/causas/detalles/d3.jpg" alt="Causa 3">
                            <img src="/images/home/index/causas/detalles/d4.jpg" alt="Causa 4">
                        </div><!-- End. about-slider -->
                    </div><!-- End .col-md-7 -->
                </div><!-- End .row -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">MAS INFO</button>
                <button type="button" class="btn btn-black" data-dismiss="modal">CERRAR</button>
            </div>
        </div>
    </div>

</div><!-- End .Causa -->


<a id="scroll-top" href="#top" title="Scroll top"><i class="fa fa-angle-up"></i></a>


@section scripts
{
    @Scripts.Render("~/bundles/scriptsvue-home")
    @Scripts.Render("~/bundles/lightbox")




    <script type="text/javascript">
        var galeria_simple;
        jQuery(document).ready(function () {
            "use strict";
            $("a[href^='data:image']").each(function () {
                $(this).fancybox({
                    content: $("<img/>").attr("src", this.href)
                });
            });
            //Galeria de Imagenes
            // galeria_simple = $('.gallery_simple a').simpleLightbox({
            //    alertError: false,
            //    captions: true,
            //    captionSelector: 'self',
            //    showCounter: true,
            //    loop: true
            //}
            //);

            //var galeria_simple_vol = $('.gallery_simple_news a').simpleLightbox({
            //    alertError: false,
            //    captions: true,
            //    captionSelector: 'self',
            //    showCounter: true,
            //    loop: true
            //}
            //);

            //galeria_simple_vol.on('error.simplelightbox', function (e) {
            //    console.log(e);
            //});

            //galeria_simple.on('error.simplelightbox', function (e) {
            //    console.log(e);
            //});

            var revapi;
            if ($("#rev_slider").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider");
            } else {
                setTimeout(function () {
                    revapi = $("#rev_slider").show().revolution({
                        sliderType: "standard",
                        jsFileLocation: '@Href("~/Scripts/")',
                        sliderLayout: "auto",
                        dottedOverlay: "none",
                        delay: 15000,
                        navigation: {
                            mouseScrollNavigation: "off",
                            onHoverStop: "off",
                            touch: {
                                touchenabled: "on"
                            },
                            arrows: {
                                style: "custom",
                                enable: true,
                                hide_onmobile: false,
                                hide_under: 768,
                                hide_onleave: false,
                                tmp: '',
                                left: {
                                    h_align: "left",
                                    v_align: "center",
                                    h_offset: 0,
                                    v_offset: 0
                                },
                                right: {
                                    h_align: "right",
                                    v_align: "center",
                                    h_offset: 0,
                                    v_offset: 0
                                }
                            },
                            bullets: {
                                enable: true,
                                style: "hades",
                                hide_onmobile: false,
                                hide_onleave: false,
                                hide_under: 768,
                                direction: "horizontal",
                                h_align: "center",
                                v_align: "bottom",
                                h_offset: 0,
                                v_offset: 15,
                                space: 5,
                                tmp: '<span class="tp-bullet-image"></span>'
                            }
                        },
                        responsiveLevels: [1200, 992, 768, 480],
                        gridwidth: [1140, 970, 750, 480],
                        gridheight: [500, 440, 360, 300],
                        lazyType: "smart",
                        spinner: "spinner2",
                        parallax: {
                            type: "off",
                            origo: "slidercenter",
                            speed: 2000,
                            levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50],
                            disable_onmobile: "on"
                        },
                        debugMode: false
                    });
                }, 1500);
            }

        });
    </script>

}
