﻿﻿@{
    ViewBag.Title = "Avisos";
    ViewBag.TutiloPage = "SLIDER PRINCIPAL";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h3 class="title custom">ITEMS AÑADIDOS</h3>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 ">
        <label class="input-desc">Año</label>
        <select class="form-control">
            <option selected>2018</option>
            <option>2017</option>
            <option>2016</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 ">
        <label class="input-desc">Mes</label>
        <select class="form-control">
            <option selected>Enero</option>
            <option>Febreo</option>
            <option>Marzo</option>
            <option>Abril</option>
            <option>Mayo</option>
            <option>Junio</option>
            <option>Julio</option>
            <option>Agosto</option>
            <option>Septiembre</option>
            <option>Octubre</option>
            <option>Noviembre</option>
            <option>Diciembre</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 ">
        <label class="input-desc">Estado</label>
        <select class="form-control">
            <option selected>TODOS</option>
            <option>PENDIENTE</option>
            <option>VIGENTE</option>
            <option>VENCIDA</option>
            <option>CANCELADA</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 pt25">
        <button class="btn btn-warning" data-toggle="modal" data-target="#nuevo_item" v-on:click="limpiarFormRegistro(); isEdit=false;">NUEVO ITEM</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <v-grid v-on:seleccion="seleccion"
                v-on:eventfinishload="finishLoad"
                v-bind:columns="['Orden','Título Principal', 'Título Secundario', '<i class=\'fa fa-link\'></i> IR A ','Fecha Inicio','Fecha Vencimiento','Estado','Imagen','']"
                v-bind:url="'@Href("~/Aviso/AllAviso")'"
                v-bind:paglist="[10,50,100,200,500]" @* Si no se define este paginado entonces obtiene todas*@
                v-bind:showheader="false"
                v-bind:show-filter="false">
            <template slot="tools" scope="e" style="display:none;">
                <div>
                    <a id="reload" class="btn" v-on:click="e.refresh()">
                        <i class="fa fa-refresh fa-lg"></i>
                    </a>
                </div>
            </template>
            <template scope="d">
                <tr>
                    <td>{{d.item.item.Orden}}</td>
                    <td>{{d.item.item.Titulo}}</td>
                    <td>{{d.item.item.SubTitulo}}</td>
                    <td>{{d.item.item.UrlAccion}}</td>
                    <td>{{convertirFecha(d.item.item.FechaInicio)}}</td>
                    <td>{{convertirFecha(d.item.item.FechaFin)}}</td>
                    <td>{{d.item.item.EstadoAviso == 0 ? 'Pendiente' : d.item.item.EstadoAviso == 1 ? 'Activo':d.item.item.EstadoAviso == 2 ? 'Vencido' : d.item.item.EstadoAviso == 3 ? 'Cancelado' : '---' }}</td>
                    @*<span class="label label-danger">CANCELADA</span>*@
                    <td><a href="#" v-bind:data-img="'@Href("~/Images/avisos/")'+d.item.item.NombreImagen"  data-imagen="popover" data-placement="top" data-original-title="" title=""><i class="fa fa-picture-o"></i></a></td>
                    <td>
                        @*<a v-for="acc in acciones" class="icon-btn" v-on:click="seleccion(acc.accion,d.item)"><i v-bind:class="acc.clase" aria-hidden="true"></i></a>*@
                        <button class="btn btn-blue btn-sm" data-toggle="modal" data-target="#nuevo_item" v-on:click="openEdit(d.item.item.IdAviso)"> EDITAR</button>
                    </td>
                </tr>
            </template>
        </v-grid>
    </div><!-- End .col-sm-12 -->
</div><!-- End .row -->

<div class="modal fade " id="nuevo_item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div v-if="isLoading" class="frame-loading"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title"> NUEVO ITEM</h3>
            </div>
            <div class="modal-body">
                <div v-bind:class="{hidden: (errorRegistroAviso.length == 0)} " class="col-md-12 alert alert-danger alert-dismissible fade in" role="alert">
                    <strong>Error! </strong><span v-html="errorRegistroAviso"></span>
                </div>
                <div class="row">
                    <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
                        <div class="form-group">
                            <label for="titulo" class="input-desc">Titulo*</label>
                            <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Principal" v-model="modelAviso.Titulo"
                                   required>
                        </div><!-- End .from-group -->
                        <div class="form-group">
                            <label for="secundario" class="input-desc">Subtitulo</label>
                            <input type="text" rows="6" class="form-control" id="descripcion" name="Subtitulo" v-model="modelAviso.SubTitulo"
                                   placeholder="Secundario">
                        </div><!-- End .from-group -->
                        <div class="form-group">
                            <label for="secundario" class="input-desc">Mensaje Alterno </label>
                            <input type="text" rows="6" class="form-control" id="descripcion" name="Alterno" v-model="modelAviso.MensajeAlter"
                                   placeholder="Alterno">
                        </div><!-- End .from-group -->
                        <div class="form-group">
                            <label for="orden" class="input-desc">Orden</label>
                            <input type="number" class="form-control" id="orden" name="Orden" v-model="modelAviso.Orden" min="0"
                                   placeholder="Orden en que se muestra.">
                        </div><!-- End .from-group -->
                        <div class="form-group">
                            <label for="accion" class="input-desc">Accion</label>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <select class="form-control" v-model="modelAviso.IdTipoAccion">
                                        <option value="" selected>N/A</option>
                                        <option value="1">IR A</option>
                                        <option value="2">MODULO</option>
                                    </select>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" placeholder="" v-model="modelAviso.UrlAccion">
                                </div>
                            </div>
                        </div><!-- End .from-group -->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="fecha_inicio" class="input-desc">
                                        Fecha
                                        Inicio*
                                    </label>
                                    <input type="date" rows="6" class="form-control" id="fecha_inicio" name="fecha_inicio"
                                           placeholder="Fecha Inicio" v-model="modelAviso.FechaInicio"  v-bind:data-fecha="modelAviso.FechaInicio">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="fecha_fin" class="input-desc">
                                        Fecha
                                        Fin*
                                    </label>
                                    <input type="date" rows="6" class="form-control" id="fecha_fin" name="fecha_fin" v-model="modelAviso.FechaFin"
                                           placeholder="Fecha Fin">
                                </div>
                            </div>
                        </div><!-- End .from-group -->
                    </div><!-- End .col-md-5 -->
                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12">
                        <label for="imagen" class="input-desc">Imagen</label>
                        <input type="file" id="fileaviso" class="filepond" name="filepond" multiple data-max-file-size="3MB"
                               accept="image/png, image/jpeg" data-max-files="1">
                    </div><!-- End .col-md-7 -->
                    <div v-if="isEdit" class="col-md-7 col-lg-7 col-sm-7 col-xs-12">
                        <label>Imagen actual</label>
                        <img v-bind:src="'@Href("~/Images/avisos/")'+modelAviso.NombreImagen" style="width: 100%;">
                    </div><!-- End .col-md-7 -->
                </div><!-- End .row -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" v-on:click="cancelarAviso(modelAviso.IdAviso)" v-if="isEdit">CANCELAR</button>
                <button type="button" class="btn btn-success" v-on:click="registrarAviso" v-if="formAvisoCompleto">GUARDAR</button>
                <button type="button" class="btn btn-black" data-dismiss="modal">CERRAR</button>
            </div>
        </div>
    </div>
</div><!-- End .nuevo item -->

@section scripts
{
    <script type="text/javascript">
        $(function () {
            var grid = new Vue({
                el: '#container',
                data:
                    {
                        urls: {
                            create: '@Href("~/Aviso/Create")',
                            saveImageAviso: '@Href("~/Aviso/UploadImage")',
                            baja: '@Href("~/Aviso/Baja")',
                            getItem: '@Href("~/Aviso/Details")',
                            updateItem: '@Href("~/Aviso/Update")',
                        },
                        filePondObj: null,
                        errorRegistroAviso: "",
                        isLoading: false,
                        isEdit: false,
                        modelAviso: {
                            EstadoAviso: true,
                            FechaFin: "",
                            FechaInicio: "",
                            IdAviso: "0",
                            IdModuloAccion: "",
                            IdTipoAccion: "",
                            ImagenBinary: "",
                            MensajeAlter: "",
                            SubTitulo: "",
                            Titulo: "",
                            UrlAccion: "",
                            Orden: 0,
                            NombreImagen: "",
                        }
                    },
                created: function () {
                    setTimeout(function (self) {
                        self.filePondObj =
                            FilePond.create(($('#fileaviso')[0]), {
                                allowMultiple: false,
                                labelIdle: 'Arrastra y suelta una foto o <span class="filepond--label-action">Selecciona...</span>',
                                imagePreviewHeight: 300,
                                imageCropAspectRatio: '1:1',
                                imageResizeTargetWidth: 200,
                                imageResizeTargetHeight: 200,
                                imagePreviewTransparencyIndicator: '#1BA160',
                                instantUpload: false
                            });
                    }, 1000, this);
                },
                computed: {
                    formAvisoCompleto: function () {
                        return (
                            this.modelAviso.FechaInicio != ""
                            && this.modelAviso.FechaFin != ""
                            && this.modelAviso.Titulo != ""
                            //&& ((this.modelAviso.IdTipoAccion != "" && this.modelAviso.UrlAccion != "") || (this.modelAviso.IdTipoAccion != ""))
                        );
                    }
                },
                watch: {

                },
                methods: {
                    seleccion: function (e) {
                                console.log(e);
                            },
                    limpiarFormRegistro: function () {
                        this.errorRegistroAviso = "";
                        this.modelAviso.EstadoAviso = true;
                        this.modelAviso.FechaFin = "";
                        this.modelAviso.FechaInicio = "";
                        this.modelAviso.IdAviso = "0";
                        this.modelAviso.IdModuloAccion = "";
                        this.modelAviso.IdTipoAccion = "";
                        this.modelAviso.ImagenBinary = "";
                        this.modelAviso.MensajeAlter = "";
                        this.modelAviso.SubTitulo = "";
                        this.modelAviso.Titulo = "";
                        this.modelAviso.UrlAccion = "";
                        this.modelAviso.Orden = 0;
                        this.modelAviso.NombreImagen = "_";
                        if (this.filePondObj != null) {
                            this.filePondObj.removeFiles();
                        }
                    },
                    closeModal: function () {
                        $(".modal").modal("hide");
                    },
                    obtenerAviso: function (idAviso) {
                        this.isLoading = true;

                        this.$http.get(this.urls.getItem, { params: { id: idAviso } }).then(function (response) {
                            var resp = response.body.model;
                            if (resp !== 'undefined' && resp != null) {
                                this.modelAviso.EstadoAviso = resp.EstadoAviso;
                                this.modelAviso.FechaFin = this.convertirFecha(resp.FechaFin, true);
                                this.modelAviso.FechaInicio = this.convertirFecha(resp.FechaInicio, true);
                                this.modelAviso.IdAviso = resp.IdAviso;
                                this.modelAviso.IdModuloAccion = resp.IdModuloAccion;
                                this.modelAviso.IdTipoAccion = resp.IdTipoAccion;
                                this.modelAviso.ImagenBinary = [];
                                this.modelAviso.MensajeAlter = resp.MensajeAlter;
                                this.modelAviso.SubTitulo = resp.SubTitulo;
                                this.modelAviso.Titulo = resp.Titulo;
                                this.modelAviso.UrlAccion = resp.UrlAccion;
                                this.modelAviso.Orden = resp.Orden;
                                this.modelAviso.NombreImagen = resp.NombreImagen;
                            }
                            else {
                                this.errorRegistroAviso = "No se encontro información disponible. Intente mas tarde";
                            }
                           this.isLoading = false;
                        }, function (err) {
                            this.errorRegistroGaleria = err.status + ' : ' + err.statusText;
                            this.isLoading = false;
                        });
                    },
                    registrarAviso: function () {
                        this.isLoading = true;
                        this.$http.post(this.isEdit ? this.urls.updateItem : this.urls.create, this.modelAviso)
                            .then(function (response) {
                            var resp = response.body.model;
                            if (resp.success == false) {
                                if (resp.mensaje != null && resp.mensaje.length > 0) {
                                    this.errorRegistroAviso = resp.mensaje;
                                    this.isLoading = false;
                                }
                            }
                            else {
                                if (this.filePondObj.getFiles().length == 1) {//Solo si existe imagen
                                    this.filePondObj.setOptions({
                                        server: {
                                            url: this.urls.saveImageAviso + "?id=" + resp.result.IdAviso
                                        }
                                    });
                                    var self = this;
                                    this.filePondObj.processFiles().then(function (file) {
                                        // se ha cargado el archivo
                                        self.limpiarFormRegistro();
                                        if (resp.alerta != null && resp.alerta.length > 0) {
                                            $.notify(resp.alerta, "success");
                                        }
                                        self.isLoading = false;
                                        self.closeModal();
                                    }, function (a) {//error en carga
                                        self.errorRegistroAviso = a.error.code + ' : ' + a.error.body +
                                            "<br />El aviso se ha registrado sin la imagen. Intenta cargar la imagen de nuevo desde edición.";
                                        self.isLoading = false;
                                    });
                                }
                                else {
                                    if (resp.alerta != null && resp.alerta.length > 0) {
                                        $.notify(resp.alerta, "success");
                                    }
                                    this.limpiarFormRegistro();
                                    this.isLoading = false;
                                    this.closeModal();
                                }
                            }
                        }, function (err) {
                            this.errorRegistroAviso = err.status + ' : ' + err.statusText;
                            this.isLoading = false;
                        });
                    },
                    cancelarAviso: function (idAviso) {     
                        if (confirm('¿Esta seguro de INACTIVAR el slider?')) {
                            this.isLoading = true;

                            this.$http.post(this.urls.baja, { id: idAviso }).then(function (response) {
                                var resp = response.body.model;
                                if (resp.success == false) {
                                    if (resp.mensaje != null && resp.mensaje.length > 0) {
                                        this.errorRegistroAviso = resp.mensaje;
                                        $.notify(resp.mensaje, "error");
                                        this.isLoading = false;
                                    }
                                }
                                else {
                                    if (resp.alerta != null && resp.alerta.length > 0) {
                                        $.notify(resp.alerta, "success");
                                    }
                                    this.limpiarFormRegistro();
                                    this.isLoading = false;
                                    this.closeModal();
                                }
                            }, function (err) {
                                this.errorRegistroAviso = err.status + ' : ' + err.statusText;
                                this.isLoading = false;
                            });
                        }
                    },
                    finishLoad: function (isOk, msj) {
                        setTimeout(
                        function() {
                            $('[data-toggle="popover"]').popover({
                                trigger: 'focus'
                            });
                            $('[data-imagen="popover"]').popover({
                                html: true,
                                trigger: 'hover',
                                content: function () {
                                    return '<img src="' + $(this).data('img') + '" class="img-thumbnail img-responsive" />';
                                }
                            });
                            },1000
                        );
                    },
                    openEdit: function (idAviso) {
                        this.limpiarFormRegistro();
                        this.obtenerAviso(idAviso);
                        this.isEdit = true;
                    },
                    convertirFecha: function (f,isIso) {
                                return obtenerFecha(f,isIso);
                    }
                }
            });
        });

    </script>

}
