﻿.frame-loading {
    background-color: rgba(0, 105, 176, 0.14);
    width: 100%;
    height: 100%;
    min-height: inherit;
    border: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/cargando.gif);
    position: absolute;
    z-index: 100001;
    padding: 0px !important;
    margin: 0px !important;
    top: 0px;
    left: 0px;
}

.hidden{
    display:none;
    visibility:hidden;
}